<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/85bef06bdc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/CarritoCompra.css" />
    <title>Golf de Altura Shop</title>
  </head>
  <body>
    <header></header>

    <main>

      <button type="submit" value="comprar" class="button">Comprar ahora</button>
      <p class="comprar-texto">Seguir Comprando</p>
<div class="container">
  <h1> Carrito de Compras</h1>
  <div class="cart">
<div class="products">
  <div class="product">
    <img src="img/pelotas.jpeg" alt="Pelotas Titleist Pro V1">
    <div class="product-info">
      <h3 class="product-name">CAJA PELOTAS TITLEIST PRO V1</h3>
      <h2 class="product-price">$12.999</h2>
      <p class="product-quantity">Quantity <input value="1" name=""></p>
      <p class="product-remove"> 
        <i class="fa-regular fa-trash-can"></i>
        <span class="remove">Remove</span>
      </p>
    </div>
  </div>
  <div class="product">
    <img src="img/GORRAS/img4.webp" alt="Pelotas Titleist Pro V1">
    <div class="product-info">
      <h3 class="product-name">GORRA CALLAWAY NEGRA LOGO ROJO</h3>
      <h2 class="product-price">$4.560</h2>
      <p class="product-quantity">Quantity <input value="1" name=""></p>
      <p class="product-remove"> 
        <i class="fa-regular fa-trash-can"></i>
        <span class="remove">Remove</span>
      </p>
    </div>
  </div>
</div>
  </div>
  <div class="cart-total">
    <p>
      <span>Total a pagar:</span>
      <span class="span-1">$17.559</span>
    </p>
    <p>
      <span>Total a pagar con envio:</span>
      <span>$18.559</span>
    </p>
    <button type="submit" value="comprar" class="button">Comprar ahora</button>
    <p class="comprar-texto">Seguir Comprando</p>
  </div> 
</div>
    
        
      
    
    </main>

    <footer>


    </footer>
  </body>
</html>
