<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/85bef06bdc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/CarritoCompra.css" />
    <script src="https://kit.fontawesome.com/a73919cff6.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <title>Golf de Altura Shop</title>
  </head>
  <body>
    <header>
      <div class="btn-menu">
        <button type="button" onclick="mostrarMenu()" class="item-flex">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <nav id="menu-mobile" class="ocultar">
        <ul>
          <li><a href="">ACCESORIOS</a></li> 
          
          <li>
            <a href="">BOLSAS Y CARROS</a>
            <ul class="ocultar">
              <li><a href="">BOLSAS</a></li>
              <li><a href="">CARROS</a></li>
            </ul>
          </li>
          
          <li>
            <a href="">CAMPOS</a>
            <ul class="ocultar">
              <li><a href="">ESTANCIAS DE CAFAYATE GOLF CLUB</a></li>
              <li><a href="">TERMAS DE RIO HONDO GOLF CLUB</a></li>
              <li><a href="">CARILO GOLF CLUB</a></li>
              <li><a href="">LLAO LLAO GOLF CLUB</a></li>
              <li><a href="">VILLA ALLENDE GOLF CLUB</a></li>
            </ul>
          </li>
          
          <li><a href="">GORRAS</a></li>
          
          <li>
            <a href="">PALOS</a>
            <ul class="ocultar">
              <li><a href="">DRIVE</a></li>
              <li><a href="">MADERAS</a></li>
              <li><a href="">HIBRIDOS</a></li>
              <li><a href="">HIERROS</a></li>
              <li><a href="">PUTTERS</a></li>
              <li><a href="">WEDGES</a></li>
            </ul>
          </li>
  
          <li><a href="">PELOTAS</a></li>
  
          <li>
            <a href="">TECNOLOGIA</a>
            <ul class="ocultar">
              <li><a href="">GPS</a></li>
              <li><a href="">SMARTWACHT</a></li>
              <li><a href="">TELEMETROS</a></li>
            </ul>
          </li>
          
          <li>
            <a href="">VESTIR</a>
            <ul class="ocultar">
              <li><a href="">ROPA DE HOMBRE</a></li>
              <li><a href="">
                ROPA DE MUJER</a></li>
            </ul>
            <li><a href="">ZAPATOS</a></li>
          </li>
        </ul>
      </nav>
      <div class="logo item-flex">
        <img src="/Img/logo-header.png" alt="Golf de Altura Store"/>
      </div>
      <div class="iconos-compra-location">
    
        <span><i class="fa fa-location-dot"></i> </span>
        <span><i class ="fa fa-cart-shopping"></i></span>  
      </div>
      <div class="buscador item-flex">
        <input type="text" placeholder="¿Que podemos ayudarte a encontrar?">
        <div class="btn">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <div class="Compra-item-flex">
          <p>Devoluciones gratuitas y garantía en la devolución de su dinero</p>
        </div>
        
      </div>
  </header>
    <main>
      <button type="submit" value="comprar" class="button">
        Comprar ahora
      </button>
      <p class="comprar-texto">Seguir Comprando</p>
      <div class="container">
        <h1>Carrito de Compras</h1>
        <div class="cart">
          <div class="products">
            <div class="product">
              <img src="img/pelotas.jpeg" alt="Pelotas Titleist Pro V1" />
              <div class="product-info">
                <h3 class="product-name">CAJA PELOTAS TITLEIST PRO V1</h3>
                <h2 class="product-price">$12.999</h2>
                <p class="product-quantity">
                  Quantity <input value="1" name="" />
                </p>
                <p class="product-remove">
                  <i class="fa-regular fa-trash-can"></i>
                  <span class="remove">Remove</span>
                </p>
              </div>
            </div>
            <div class="product">
              <img src="img/GORRAS/img4.webp" alt="Pelotas Titleist Pro V1" />
              <div class="product-info">
                <h3 class="product-name">GORRA CALLAWAY NEGRA LOGO ROJO</h3>
                <h2 class="product-price">$4.560</h2>
                <p class="product-quantity">
                  Quantity <input value="1" name="" />
                </p>
                <p class="product-remove">
                  <i class="fa-regular fa-trash-can"></i>
                  <span class="remove">Remove</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="cart-total">
          <p>
            <span>Total a pagar:</span>
            <span class="span-1">$17.559</span>
          </p>
          <p>
            <span>Total a pagar con envio:</span>
            <span>$18.559</span>
          </p>
          <button type="submit" value="comprar" class="button">
            Comprar ahora
          </button>
          <p class="comprar-texto">Seguir Comprando</p>
        </div>
      </div><br><br>

      <div class="recommendation-carousel">
        <div class="bottom-container">
          <div>
            <h2 class="h2-recommendation">Recomendaciones para vos</h2>
          </div>
          <div class="carousel-mobile">
            <ul>
              <li class="mobile-carousel-list-element">
                <div>
                  <img class="carousel-image" src="img/palos/hierros/img2.webp" alt="Hierro 3 T3">
                  <hr class="hr-bot-con">
<h2 class="bc-product-price">$132.999</h2>
<h3 class="bc-product-name">TITLEIST HIERRO 3 T3</h3>
                </div>
              </li>
              <li class="mobile-carousel-list-element">
                <div>
                  <img class="carousel-image" src="img/vestir/ropadehombre/img25.jpg" alt="Camiseta Berlin">
                  <hr class="hr-bot-con">
                  <h2 class="bc-product-price">$10.350</h2>
                  <h3 class="bc-product-name">POLO BERLIN CELESTE </h3>
                </div>
              </li>
              <li class="mobile-carousel-list-element">
                <div>
                  <img class="carousel-image" src="img/zapatos/callaway/img1.webp" alt="Zapatos Callaway">
                  <hr class="hr-bot-con">
                  <h2 class="bc-product-price">$24.999</h2>
                  <h3 class="bc-product-name">ZAPATOS CALLAWAY </h3>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
