<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/85bef06bdc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/CarritoCompra.css" />
    <script src="https://kit.fontawesome.com/a73919cff6.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <title>Golf de Altura Shop</title>
  </head>
  <body>
    <header>
      <div class="btn-menu">
        <button type="button" onclick="mostrarMenu()" class="item-flex">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <nav id="menu-mobile" class="ocultar">
        <ul>
          <li><a href="">ACCESORIOS</a></li> 
          
          <li>
            <a href="">BOLSAS Y CARROS</a>
            <ul class="ocultar">
              <li><a href="">BOLSAS</a></li>
              <li><a href="">CARROS</a></li>
            </ul>
          </li>
          
          <li>
            <a href="">CAMPOS</a>
            <ul class="ocultar">
              <li><a href="">ESTANCIAS DE CAFAYATE GOLF CLUB</a></li>
              <li><a href="">TERMAS DE RIO HONDO GOLF CLUB</a></li>
              <li><a href="">CARILO GOLF CLUB</a></li>
              <li><a href="">LLAO LLAO GOLF CLUB</a></li>
              <li><a href="">VILLA ALLENDE GOLF CLUB</a></li>
            </ul>
          </li>
          
          <li><a href="">GORRAS</a></li>
          
          <li>
            <a href="">PALOS</a>
            <ul class="ocultar">
              <li><a href="">DRIVE</a></li>
              <li><a href="">MADERAS</a></li>
              <li><a href="">HIBRIDOS</a></li>
              <li><a href="">HIERROS</a></li>
              <li><a href="">PUTTERS</a></li>
              <li><a href="">WEDGES</a></li>
            </ul>
          </li>
  
          <li><a href="">PELOTAS</a></li>
  
          <li>
            <a href="">TECNOLOGIA</a>
            <ul class="ocultar">
              <li><a href="">GPS</a></li>
              <li><a href="">SMARTWACHT</a></li>
              <li><a href="">TELEMETROS</a></li>
            </ul>
          </li>
          
          <li>
            <a href="">VESTIR</a>
            <ul class="ocultar">
              <li><a href="">ROPA DE HOMBRE</a></li>
              <li><a href="">
                ROPA DE MUJER</a></li>
            </ul>
            <li><a href="">ZAPATOS</a></li>
          </li>
        </ul>
      </nav>
      <div class="logo item-flex">
        <img src="/Img/logo-header.png" alt="Golf de Altura Store"/>
      </div>
      <div class="iconos-compra-location">
    
        <span><i class="fa fa-location-dot"></i> </span>
        <span><i class ="fa fa-cart-shopping"></i></span>  
      </div>
      <div class="buscador item-flex">
        <input type="text" placeholder="¿Que podemos ayudarte a encontrar?">
        <div class="btn">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <div class="Compra-item-flex">
          <p>Devoluciones gratuitas y garantía en la devolución de su dinero</p>
          <hr>
        </div>
        
      </div>
  </header>
    <main>
   
      <button type="submit" value="comprar" class="button">
        Comprar ahora
      </button>
      <p class="comprar-texto">Seguir Comprando</p>
      <div class="container">
            <div class="product">
              <img src="img/pelotas.jpeg" alt="Pelotas Titleist Pro V1" />
              <div class="product-info">
                <p>TITLEIST</p>
                <h3 class="product-name">CAJA PELOTAS TITLEIST PRO V1</h3>
                <span class="span-producto1"><strong>Articulo:   </strong>  </span> <span class="span-producto2"> 147831765</span><br>
                <span class="span-producto1"><strong>Color:   </strong>  </span> <span class="span-producto2"> Rojo/Blanco/Azul</span><br><br>
                <span class="span-producto3">Envio a Domicilio</span>
                <p class="product-quantity">
                 Cantidad   <input value="1" name="" />
                </p>
                <p class="product-remove">
                  <i class="fa-regular fa-trash-can"></i>
                  <span class="remove">Remove</span>
                </p><br>
                <div class="precio-carrito">
                <p class="span-producto3"><strong>Precio:</strong></p>
                <p class="Precio-carrito-p"> <strong>$7899 </strong></p>
              </div>
              <div class="total-precio-carrito">
                <p class="span-producto3"><strong>Total:</strong></p>
                <p class="Precio-carrito-p"> <strong>$7899 </strong></p>
              </div>
              
              </div>
              </div>
              <hr>
            </div>
          
              <div class="subtotal-caja">               
                  <p class="span-producto3"><strong>Subtotal:</strong></p>
                  <p class="Precio-carrito-p"> <strong>$7899 </strong></p>         
              </div>
            
              <div class="subtotal-caja2">
                <hr>
                <button type="submit" value="comprar" class="button">
                  Comprar ahora
                </button>
                <p class="comprar-texto">Seguir Comprando</p>
              </div>
            
              
                <div class="articulo-promocion">
                  <h4> PRODUCTO DESTACADO DEL MES</h4>
                  <img src="img/vestir/ropadehombre/img25.jpg" alt="Camiseta Berlin">
                  <p class="marca"><strong> TITLEIST  </strong></p>
                  <p class="articulo">Camiseta Berlin Callaway</p>
                  <p class="precio"><strong>  $13999 </strong></p>
                </div>
              
      </div>
    </main>

    <footer>
      <div class="pie-pagina">
        <div class="servicio-cliente">
         <h3>Servicio Cliente</h3>
         <p>Contactenos 0800-555-2328</p>
         <p>Preguntas Frecuentes</p>
         <p>Informacion de envio</p>
        </div>
        <div class="servicios">
            <h3>Servicios</h3>
            <p>Reparacion</p>
            <p>Clases</p>
            <p>Torneos y eventos</p>
        </div>
        <div class="informacion-empresa">
            <h3>Informacion de la Empresa</h3>
            <p>Sobre Nosotros</p>
            <p>Nuestro valores</p>
            <p>Vision y mision</p>
            <p>Politicas de privacidad</p>
        </div>
        <div class="subscripcion">
          <h3>Subscribite al newsletter</h3>
           <div>
              <label for="nombreapellido"> Nombre y Apellido</label>
              <input type="text" name="nombreapellido" placeholder="Juan Martinez" required >
          </div>
          <label for="email-subscripcion"> Email</label><br>
           <input type="email" name="email-subscripcion"  placeholder="juan.martinez@icloud.com" required>
         </div>
        <div class="red-social">
            <span class="uno"><i href="#"  class="fa fa-facebook"></i></span>  
            <span class="dos"><i href="#" class="fa fa-instagram"></i></span>
            <span class="tres"><i href="#" class="fa fa-twitter"></i></span>
            <span class="cuatro"><i href="#" class="fa fa-youtube"></i></span>
          </div>
    </div>

        </div>
    </footer>
  </body>
</html>
