<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/header.css">
  <script src="https://kit.fontawesome.com/a73919cff6.js" crossorigin="anonymous"></script>
  <script src="/js/scripts.js"></script>
  <title>Document</title>
</head>
<body class="body-header">
  <header>
    <div class="btn-menu">
      <button type="button" onclick="mostrarMenu()" class="item-flex">
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <nav id="menu-mobile" class="ocultar">
      <ul>
        <li><a href="">INICIO</a></li> 
        
        <li>
          <a href="">PRODUCTOS</a>
          <ul class="ocultar">
            <li><a href="">BOLSAS</a></li>
            <li><a href="">CARROS</a></li>
            <li><a href="">GORRAS</a></li>
          </ul>
          <li>
            <a href="">PALOS</a>
            <ul class="ocultar">
              <li><a href="">DRIVE</a></li>
              <li><a href="">MADERAS</a></li>
              <li><a href="">HIBRIDOS</a></li>
              <li><a href="">HIERROS</a></li>
              <li><a href="">PUTTERS</a></li>
              <li><a href="">WEDGES</a></li>
            </ul>
          </li>
  
          <li><a href="">PELOTAS</a></li>
  
          <li>
            <a href="">TECNOLOGIA</a>
            <ul class="ocultar">
              <li><a href="">GPS</a></li>
              <li><a href="">SMARTWACHT</a></li>
              <li><a href="">TELEMETROS</a></li>
            </ul>
          </li>
          
          <li>
            <a href="">VESTIR</a>
            <ul class="ocultar">
              <li><a href="">ROPA DE HOMBRE</a></li>
              <li><a href="">
                ROPA DE MUJER</a></li>
            </ul>
            <li><a href="">ZAPATOS</a></li>
          </li>
        </ul>
        </li>
        
        <li>
          <a href="">CAMPOS</a>
          <ul class="ocultar">
            <li><a href="">ESTANCIAS DE CAFAYATE GOLF CLUB</a></li>
            <li><a href="">TERMAS DE RIO HONDO GOLF CLUB</a></li>
            <li><a href="">CARILO GOLF CLUB</a></li>
            <li><a href="">LLAO LLAO GOLF CLUB</a></li>
            <li><a href="">VILLA ALLENDE GOLF CLUB</a></li>
          </ul>
        </li>
    </nav>
    <div class="logo item-flex">
      <img src="/Img/logo-header.png" alt="Golf de Altura Store"/>
    </div>
    <div class="iconos-compra-location">
  
      <span><i class="fa fa-location-dot"></i> </span>
      <span><i class ="fa fa-cart-shopping"></i></span>  
    </div>
    <div class="buscador item-flex">
      <input type="text" placeholder="¿Que podemos ayudarte a encontrar?">
      <div class="btn">
        <i class="fa fa-search"></i>
      </div>
    </div>
    <div class="Compra-item-flex">
        <p>Devoluciones gratuitas y garantía en la devolución de su dinero</p>
      </div>
      
    </div>
</header>
</body>
</html>
