<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css"/>
        <title>Golf de Altura Store</title>
    <link rel="icon" type="imagen/png" href="/img/Logo2.png" />
    <script src="https://kit.fontawesome.com/a73919cff6.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
  </head>
 
<body>
          <header>
       <nav>
            <div class="descuentos">Descuentos en compras mayores a $18.000 con envío gratuito</div>
      <header>
          <!-- <div class="btn-menu">
            <button type="button" onclick="mostrarMenu()" class="item-flex">
              <span class="fa fa-bars"></span>
            </button>
          </div> -->
          
          <div class="logo item-flex">
            <img src="/Img/logo-header.png" alt="Golf de Altura Store"/>
          </div>
              <div class="buscador item-flex">
               <input type="text" placeholder="¿Que podemos ayudarte a encontrar?">
               <div class="btn">
                <i class="fa fa-search"></i>
                </div>
          </div>
          <div class="devolucion">
            <p>Devoluciones gratuitas y garantía</p>
            <p>en la devolución de su dinero</p>
          </div>
          
          <div class="iconos-compra-location">
            <span class="argentina"><img src="/img/argentina.png" alt="pais"> Argentina</span>
            <span><i class="fa fa-location-dot"></i> Ubicación</span>
            <span><i class ="fa fa-cart-shopping"></i> 0</span>  
          </div>
      </header>
           <nav class="productos-menu">
            <a href="#">ACCESORIOS</a>
            <a href="#">BOLSAS Y CARROS</a>
            <a href="#">CAMPOS</a>
            <a href="#">GORRAS</a>
            <a href="#">PALOS</a>
            <a href="#">PELOTAS</a>
            <a href="#">TECNOLOGIA</a>
            <a href="#">VESTIR</a>
            <a href="#">ZAPATOS</a>
                      </nav>
</body>
</html>