<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Golf de Altura Store</title>
            <link rel="stylesheet" href="static/Imagenes/Logo/Logo.png">
            <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <img src="static/imagenes/Logo/Logo.png" width="480" height="320">
    <h3>Servicios</h3>  
    <h2><span>barra de busqueda - en que podemos ayudarte?</span></h2> 
    <h2> Devoluciones Gratuitas y Garantia de reembolso de tu dinero*</h2>
    <img src="/public/Imagenes/BOLSAS/TaylormadeTour.jpg" alt="">
    <br>
        <img src="/public/Imagenes/ZAPATOS/FootJoy/footjoy-tour-alpha-golf-shoes-white-grey-blue-combo-itempicture.jpg" alt="">
    <br>
       <header>
                <h3>Descuento y promociones solo en productos seleccionados</h3>
        <nav>
            <ul>
                <a href="#">Palos</a><br><p>La mayor variedad de palos. Todas las marcas como ser Callaway, TaylorMade, Titleist, Ping, Mizuno, etc.
                 Encontra todo el equipo necesario para armar tu juego de palos, Drive, Maderas, Hibridos, Hierros, Wedges y Putters. Con toda la variedad de varas
                 disponibles para hombres, mujeres y niños. Varas de grafito o de acero, regular, stiff o extra stiff. La mejor calidad en equipo, también disponemos
                 del servicio de ajuste y reparacion de palos, pruebas con feeting y con profesores especializados, paa poder abarcar todas tus necesidades.</p>
                <a href="#">Calzado</a><br>
                <p>Tener el zapato de golf adecuado es fundamental para asegurarse de que está jugando al máximo de su potencial. Cuando tiene zapatos de golf que no le quedan bien, puede afectar negativamente su desempeño en el campo.
                 Compre con confianza entre la más amplia selección de zapatos de golf con clavos y zapatos de golf sin clavos en línea, respaldado por nuestra garantía de igualación de precios.
                 Ya sea que esté buscando mayor comodidad, mejor agarre o más estilo, tenemos los últimos zapatos de golf para hombres, mujeres y niños. ¿Necesita ayuda para encontrar el zapato de golf perfecto?</p>
                <a href="#">Vestir</a><br><p>Cuando estás en el campo, siempre quieres lucir lo mejor posible con la ropa de golf adecuada para hombres. También desea estar preparado para cualquier tipo de clima que se le presente. Ya sea que esté interesado en trajes de golf para hombres de verano, invierno, lluvia o sol, la Supertienda del PGA TOUR puede ayudarlo a encontrar exactamente lo que necesita.
                    En GOLF DE ALTURA Store, contamos con una amplia selección de ropa de golf para hombres, mujeres y niños de todos los precios y estilos. Si busca ropa de golf lujosa y refinada, consulte las marcas Galvin Green y J Lindeberg. 
                    Si está más interesado en precios económicos para su atuendo de golf para hombres, mujeres y niños y al mismo tiempo verse genial con estilos y tendencias actualizados.
                    Después de seleccionar su atuendo de golf, no se olvide de elegir accesorios para atuendos de golf, como cinturones, sombreros y zapatos. En GOLF DE ALTURA Store, encontrará todo lo que necesita en ropa de golf porque tenemos una de las mayores selecciones de ropa de golf para adultos  niños. La ropa de golf es importante para usted y, por lo tanto, 
                    es importante que tengamos las mejores marcas y estilos en ropa de golf, junto con los últimos estilos y moda. </p>
                <a href="#">Tecnología</a><br><p> Mejore su juego y obtenga puntajes más bajos con los últimos avances en dispositivos y electrónica de golf. Explore nuestra gran selección de dispositivos de golf y tecnología de golf respaldada por nuestra garantía de igualación de precio por rendimiento. 
                    Contamos con unidades GPS, telémetros y analizadores de swing de las principales marcas, como Bushnell, Garmin y más. En GOLF DE ALTURA Store, nos comprometemos a ayudarlo a perfeccionar su juego brindándole la mejor selección de los últimos dispositivos de golf, productos electrónicos, ayudas para el entrenamiento, equipos y servicios de golf. 
                    Compre en la tienda online GOLF DE ALTURA Store hoy y obtenga el apoyo que necesita para llevar su juego al siguiente nivel.</p>
                <a href="#">Bolsas</a><br><p>Encontrar la bolsa de golf adecuada implica más de lo que muchos creen. Con cuatro categorías principales para elegir, hay una bolsa de golf para cualquier ocasión.
                    Si buscas un bolso que tenga más espacio y sea lujoso, Staff Bags  será la mejor opción para ti. Usadas a menudo por jugadores profesionales, estas bolsas de golf son más pesadas y más caras, pero a menudo tienen muchas opciones de almacenamiento y están hechas de materiales de mayor calidad. 
                    Si desea algo un poco más liviano y tiene tendencia a ir directamente en un carrito, una bolsa de carrito de golf  es probablemente la mejor opción. Diseñadas para caber en un carrito de golf con una base antideslizante, estas bolsas ofrecen estilo y accesibilidad. La más popular de las cuatro categorías, la Bolsa Golf Stand ofrece la mayor funcionalidad. 
                    Están diseñadas con dos patas retráctiles que se extienden cuando se colocan en diagonal y se retraen cuando se colocan en posición vertical, lo que le permite colocar esta bolsa de golf en un carrito de golf/carrito de mano o caminar por el campo. Por último, está la bolsa de golf de viaje . 
                    Estos están diseñados para transportar y proteger toda su bolsa y palos cuando viaja, y cuentan con almacenamiento adicional y ruedas. </p>
                <a href="#">Pelotas</a><br><p>GOLF DE ALTURA Storetore es el lugar para encontrar la mejor selección de pelotas de golf. Tenemos las marcas que conoce y en las que confía, incluidas las pelotas de golf Callaway, las pelotas de golf TaylorMade, las pelotas de golf Titleist, las pelotas de golf Bridgestone y más. ¿Buscas una pelota de golf que juegue tu profesional favorito? Visite las páginas de jugadores para ver quién está jugando con qué pelota de golf.
                    No todas las pelotas de golf son iguales y la tecnología en cada pelota de golf variará considerablemente entre las pelotas de golf.
                    Las pelotas de tour son pelotas de golf que usan los jugadores profesionales. Las pelotas de golf de nivel Tour tienen varias capas y están diseñadas para jugadores experimentados y profesionales con velocidades de swing rápidas. Si está comenzando en el golf o incluso si es un jugador experimentado, otras pelotas de golf menos costosas pueden ser una excelente opción. Las variaciones de pelotas de golf incluyen pelotas de golf de distancia que están diseñadas para producir tiros más largos y rectos, pelotas de golf de baja compresión que son perfectas para jugadores con velocidades de swing más lentas y pelotas de golf para mujeres que brindan una sensación suave con mayor distancia. Las pelotas de golf también vienen en una variedad de colores e incluso puedes personalizar tu pelota de golf con imágenes y texto. 
                    El amarillo, el azul e incluso el rojo son colores alternativos populares para las pelotas de golf. </p>
                <a href="#">Accesorios</a><br><p>Encontra en nuestra tienda online GOLF DE ALTURA Store, la mayor variedad de accesorios para tu juego, levanta piques, tees, paraguas, fundas, grips, guantes,herramientas, toallas y mas. Con toda su variedad de marcas y colores disponibles en stock. Para disfrutar de tu juego y salir al campo lo mas preparado para un extraordianria ronda de golf.</p>
            </ul>
            
        </nav>
            </header>
</body>
</html>