<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Login</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/iniciosesion.css">
    <title>Golf de Altura Store</title>
    <link rel="icon" type="imagen/png" href="/AlturaShopGolf-Sprint2/Public/img/logo-header.png" />
    <script src="https://kit.fontawesome.com/ab8c6f57f5.js" crossorigin="anonymous"></script>
    <script src="/AlturaShopGolf-Sprint2/Public/js/"></script>
    <script src="/app.js"></script>
  </head>
</head>
<body>
    <header>
      <div class="btn-menu">
        <button type="button" onclick="mostrarMenu()" class="item-flex">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <nav id="menu-mobile" class="ocultar">
        <ul>
          <li><a href="">ACCESORIOS</a></li> 
          
          <li>
            <a href="">BOLSAS Y CARROS</a>
            <ul class="ocultar">
              <li><a href="">BOLSAS</a></li>
              <li><a href="">CARROS</a></li>
            </ul>
          </li>
          
          <li>
            <a href="">CAMPOS</a>
            <ul class="ocultar">
              <li><a href="">ESTANCIAS DE CAFAYATE GOLF CLUB</a></li>
              <li><a href="">TERMAS DE RIO HONDO GOLF CLUB</a></li>
              <li><a href="">CARILO GOLF CLUB</a></li>
              <li><a href="">LLAO LLAO GOLF CLUB</a></li>
              <li><a href="">VILLA ALLENDE GOLF CLUB</a></li>
            </ul>
          </li>
          
          <li><a href="">GORRAS</a></li>
          
          <li>
            <a href="">PALOS</a>
            <ul class="ocultar">
              <li><a href="">DRIVE</a></li>
              <li><a href="">MADERAS</a></li>
              <li><a href="">HIBRIDOS</a></li>
              <li><a href="">HIERROS</a></li>
              <li><a href="">PUTTERS</a></li>
              <li><a href="">WEDGES</a></li>
            </ul>
          </li>
  
          <li><a href="">PELOTAS</a></li>
  
          <li>
            <a href="">TECNOLOGIA</a>
            <ul class="ocultar">
              <li><a href="">GPS</a></li>
              <li><a href="">SMARTWACHT</a></li>
              <li><a href="">TELEMETROS</a></li>
            </ul>
          </li>
          
          <li>
            <a href="">VESTIR</a>
            <ul class="ocultar">
              <li><a href="">ROPA DE HOMBRE</a></li>
              <li><a href="">
                ROPA DE MUJER</a></li>
            </ul>
            <li><a href="">ZAPATOS</a></li>
          </li>
        </ul>
      </nav>
      <div class="logo item-flex">
        <img src="/Img/logo-header.png" alt="Golf de Altura Store"/>
      </div>
      <div class="iconos-compra-location">
    
        <span><i class="fa fa-location-dot"></i> </span>
        <span><i class ="fa fa-cart-shopping"></i></span>  
      </div>
      <div class="buscador item-flex">
        <input type="text" placeholder="¿Que podemos ayudarte a encontrar?">
        <div class="btn">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <div class="Compra-item-flex">
          <p>Devoluciones gratuitas y garantía en la devolución de su dinero</p>
        </div>
        
      </div>
  </header>

  <main>

<div class="registro-titulo">
<h1>MI CUENTA</h1>
</div>

<div class="p-registro">
  <p>Inicio de Sesion</p>
</div>

<div class="nombre-usuario">
<label for="nombre-usuario">Nombre de Usuario:</label>
<input type="text" name="nombre-usuario" id="nombre-usuario" required>
</div>

<div class="contraseña-sesion">
<label for="contraseña">Contraseña</label>
<input type="password" name="contraseña" id="contraseña">
</div>

<div class="olvidar-contraseña">
  <p>Olvido su contraseña?</p>
</div>

<div class="boton-entrar">
<button type="submit">Iniciar Sesion</button>
</div>



  </main>

<footer>
  <div class="pie-pagina">
    <div class="servicio-cliente">
     <h3>Servicio Cliente</h3>
     <p>Contactenos 0800-555-2328</p>
     <p>Preguntas Frecuentes</p>
     <p>Informacion de envio</p>
    </div>
    <div class="servicios">
        <h3>Servicios</h3>
        <p>Reparacion</p>
        <p>Clases</p>
        <p>Torneos y eventos</p>
    </div>
    <div class="informacion-empresa">
        <h3>Informacion de la Empresa</h3>
        <p>Sobre Nosotros</p>
        <p>Nuestro valores</p>
        <p>Vision y mision</p>
        <p>Politicas de privacidad</p>
    </div>
   <div class="subscripcion">
    <h3>Subscribite al newsletter</h3>
     <div>
        <label for="nombreapellido"> Nombre y Apellido</label>
        <input type="text" name="nombreapellido" placeholder="Juan Martinez" required >
    </div>
    <label for="email-subscripcion"> Email</label><br>
     <input type="email" name="email-subscripcion"  placeholder="juan.martinez@icloud.com" required>
   </div>
    <div class="red-social">
        <span class="uno"><i href="#"  class="fa fa-facebook"></i></span>  
        <span class="dos"><i href="#" class="fa fa-instagram"></i></span>
        <span class="tres"><i href="#" class="fa fa-twitter"></i></span>
        <span class="cuatro"><i href="#" class="fa fa-youtube"></i></span>
      </div>
</div>

    </div>
</footer>

</body>
</html>