/* Header */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: open sans;
  
}

.body-header {
  width: 100%;
}
a {
  color: black;
  font-size: 15px;
  text-decoration: none;
}
.devolucion {
  color: red;
  font-size: 15px;
  text-align: center;
}
.argentina img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.iconos-compra-location {
  display: flex;
  align-items: center;
}
.iconos-compra-location i {
  font-size: 30px;
  margin-right: 5px;
}
.iconos-compra-location span {
  display: flex;
  margin-left: 15px;
}
.descuentos {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  background-color: #000000;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
header {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 15px;
}
.ocultar {
  display: none;
}
/** Estilo Logo*/
header .logo img {
  max-width:280px;
  width: 100%;
}
header #menu-mobile ul {
  position: absolute;
  background-color: #000000;
  list-style: none;
  flex-direction: column;
  left: 29px;
  top: 106px;
  border-radius: 5px;
  opacity: 75%;
  z-index: 2;
}

header .btn-menu,  .logo , .iconos-compra-location {
  width: 25%;
}
header .btn-menu span.fa {
  color: #dc3b41;
  font-size: 40px;
  cursor: pointer;
}
header #menu-mobile ul li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 14px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
header .buscador {
  position: relative;
  margin: auto;
}
header .buscador input {
  width: 100%;
  min-width: 300px;
  padding: 5px 15px 10px 15px;
  height: auto;
  transition: all 0.6s ease;
  color: grey;
  border-radius: 50px;
  font-size: 15px;
  border: 0.5px solid #e2e2e2;
  }
header .buscador .btn {
  position: absolute;
  width: 40px;
  height: 36;
  background: #dc3b41;
  border-radius: 50%;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  text-align: center;
  cursor: pointer;
  transition: 0.6s;
  top: 0px;
  right: 0px;
}
header .buscador .btn i {
  font-size: 16px;
  color: white;
  line-height: 37px;
  align-items: center;
}
.Compra-item-flex {
  width: 100%;
  margin: 20px 10px;
  color: red;
  text-align: center;
  font-size: 17px;
}
/* MAIN  */ 
.button {
    border: none;
    border-radius: 25px;
    font-size: 16px;
    margin: 10px auto;
    display: flex;
    padding: 8px 30px;
    background-color: #3483fa;
    color: white;
}
.comprar-texto {
    margin: 10px 0 30px 0;
    text-align: center;
    font-size: 14px;
}
.container {
    width: 90%;
    margin: 0 auto; 
}
.container h1 {
    padding: 20px 0;
}
.cart {
    display: flex;
}
.product {
    display: flex;
    width: 80%;
    
    margin: 15px 10px;
}
.product:hover {
border: none ;
box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
transform: scale(1.01);
}
.product img {
  min-width: 105px;
  width: 30%;
  height: 50%;
}

.product  img:hover {
    transform: scale(1.20);
}
.product-info {
   padding-left: 25px;
}
.product-name {
  margin: 3px 0px 8px;
}
.span-producto1 {
font-size: 12px;
}

.span-producto2 {
  font-size: 12px;
  margin-left: 8px;
}
.span-producto3 {
  font-size: 14px;
  }
  
.product-remove {
  position: relative;
  top: 10px;
  display: inline;
  padding: 3px 10px;
  background-color: red;
  opacity: 0.8;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
}

.precio-carrito{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-precio-carrito {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Precio-carrito-p {
  font-size: 14px;
}

.product-quantity {
  font-size: 12px;
}

.product-quantity input {
  width: 12%;
  margin-left: 5px;
  text-align: center;
  margin-top: 10px;
}

.subtotal-caja {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 30px;
  margin: 5% 0 0 0;
  background-color: #F6F6F6;
  border-top: 4px solid red;
}

.subtotal-caja2 {
  background-color: #F6F6F6;
  padding-bottom: 5%;
}

div.articulo-promocion {
  text-align: center;
  margin-top: 15px;
}

div.articulo-promocion img {
  width: 75%;
  height: 50%;
}

div.articulo-promocion h4 {
  font-style: italic;
}

div.articulo-promocion p.marca {
font-size: 12px;
padding: 2px;
}

div.articulo-promocion p.articulo {
  padding: 2px;
}

div.articulo-promocion p.precio {
  padding: 2px 0 10px 0;
}






/* FOOTER */


div.pie-pagina {
  margin-top: 60px;
  background-color:#c6c6c6;
  opacity: 85%;
  padding: 0 4%;
}

div.pie-pagina .servicio-cliente , .servicios , .informacion-empresa, .subscripcion {
  margin: auto;
  width: 80%;
  text-align: center;
  padding-bottom: 20px;
  font-family: oswald;
}

.red-social {
display: flex;
background-color: #c6c6c6;
margin: 0;
padding: 5px;
justify-content: center;
opacity: 85%;
}

.red-social span {
margin: 0 10px;
font-size: 18px;
}

div.pie-pagina h3 {
  margin-bottom: 10px;
  font-size: 1.35em;
  text-decoration: underline;
}

div.pie-pagina p {
  margin-bottom: 7px;
}

div.pie-pagina span {
  padding: 0 15px;
}

div.pie-pagina i {
  font-size: 23px;
}

div.pie-pagina span.uno {
  color:BLACK
}
div.pie-pagina span.dos {
  color: BLACK;
}
div.pie-pagina span.tres {
  color: BLACK;
}
div.pie-pagina span.cuatro{
  color: BLACK;
}

div.pie-pagina input {
margin: 10px;
width: 100%;
padding: 7px 20px;
border-radius: 5px;
border: none;
max-width: 329px;
}


@media (min-width: 420px) {
  
  header .buscador {
    display: none;
  }

  .iconos-compra-location {
    justify-content: space-around;
  }

 .Compra-item-flex {
  margin: 0;
 }

 header .logo img {
  max-width: 120px;
 }

 
.iconos-compra-location span {
margin-left: 25px;
}

}

@media (min-width: 790px) {
 
/*HEADER*/

header {
flex-wrap: nowrap;
}

header .btn-menu {
width: 10%;
}

header .logo {
width: 20%;
text-align: center;
}

.iconos-compra-location {
display: none;
}

header .buscador {
display: block;
}

.Compra-item-flex {
margin: 0 10px 0 0;
width: 25%;
}

/*FOOTER*/

div.pie-pagina {
  display: flex;  
  margin: 0%;
}

div.pie-pagina .servicio-cliente, .servicios, .informacion-empresa, .red-social, .subscripcion {
  margin: 0;
}
 /* MAIN */ 

 div.articulo-promocion {
  display: none;
 }

 .product-info {
  position: relative;
  left: 50px;
 }

 .Compra-item-flex hr {
  display: none
 }

 .subtotal-caja {
  justify-content: space-evenly;
 }

}

@media (min-width: 1000px) {
  header .buscador {
    min-width: 400px
  }
} 