
footer {
    background-color: #c6c6c6;
    opacity: 90%;
    display: flex;
    flex-direction: column;
}

footer .footer-image {
    background: transparent url('/img/campos/2/bg-footer.webp') center center no-repeat;
    background-size: cover;
    height: 500px;
    border-bottom: 4px solid #dc3b41;
}

footer .footer-content {
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
footer .red-social {
    background-color: #d6d6d6;
    display: flex;
    padding: 15px;
    justify-content: center;
}

footer .red-social span {
    margin: 0 10px;
    font-size: 22px;
}

footer h3 {
    margin-bottom: 10px;
    font-size: 1.35em;
}

footer p {
    margin-bottom: 7px;
}

footer span {
    padding: 0 15px;
}

footer i {
    font-size: 23px;
}

footer input {
    margin: 10px;
    width: 100%;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    max-width: 300px;
}