* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
  }

  body.hierros h2 {
    opacity: 0.6;
    font-family: 'Oswald';
    color: red;
    font-size: 30px;
  }
  body.hierros h4 {
    font-family: 'Oswald';
    color: red;
    font-size: 15px;
    float: left;
  }

  body.hierros .resultado-busqueda {
    position: relative;
    padding: 15px;
  }

  body.hierros .resultado-busqueda h2 {
    text-align: right;
  }

  body.hierros .ordenar-buscador {
    float: right;
  }

  /* .select-buscador {
  } */

  .hr-1 {
    margin-top: 50px;
  }

  body.hierros ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
  }

  body.hierros li.producto-hierros-lista {
    width: 47%;
    padding: 10px 0;
    margin: 0 1.5% 20px;
    background: #fff;
    border-bottom: 1px solid gray;
  }

  body.hierros li.producto-hierros-lista img {
    max-width: 100%;
    padding-bottom: 30px;
  }

  div.tamaño-hr {
    height: 35%;
    
  }

  body.hierros li.producto-hierros-lista h6{
    text-align: center;
    font-size: 15px;
    font-family: oswald;
    color: rgba(41, 41, 196, 0.892);
  }

  body.hierros li.producto-hierros-lista p {
    text-align: center;
    font-size: 13px;
    margin: 5px 0 8px;
    line-height: 20px;
  }

  body.hierros li.producto-hierros-lista h5 {
    display: flex;
    font-size: 14px;
    justify-content: space-evenly;
  }

  body.hierros li.producto-hierros-lista h5 .span-1 {
    text-decoration: line-through;
  }

  body.hierros li.producto-hierros-lista h5 .span-3 {
    justify-content: center;
  }

  body.hierros li.producto-hierros-lista .p-descuento {
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
  }
  body.hierros li.producto-hierros-lista .nuevo{
    font-size: 9px;
    width: 45px;
    border-radius: 45px;
    background-color: blue;
    color: white;
    font-family: 'Oswald';
}
  
  @media (min-width: 420px) {
    
    body.hierros h1 {
      text-align: left;
      margin-left: 40px;
  }

  body.hierros .resultado-busqueda h2 {
    text-align: left;
}
  }

@media (min-width: 790px) {

    body.hierros ul {
        justify-content: space-around;
    }  

    body.hierros li.producto-hierros-lista {
        width: 27%;
    }

}

@media (min-width: 790px) {
body.hierros li.producto-hierros-lista img {
  margin: auto;
  display: block;
} 
}