@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
a {
    margin: 0;
  position: relative;
  width: 100%;
  color: #0854e2;
  font-size: 15px;
  margin-right: 35px;
  margin-top: 120px;
  font-weight: 600;
}
.devolucion {
  color: red;
  font-size: 15px;
  text-align: center;
}
.argentina img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
  object-position: right;
}
.iconos-compra-location {
  display: flex;
  align-items: center;
}
.iconos-compra-location i {
  font-size: 30px;
  margin-right: 5px;
}
.iconos-compra-location span {
  display: flex;
  margin-right: 15px;
}
.descuentos {
  margin: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}
header {
  position: relative;
  width: 100%;
  margin-right: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #0854e2;
  padding: 30px;
}
/** Estilo Logo*/
header .logo img {
  max-width: 450;
  width: 100%;
  margin-left: 15%;
}


header .buscador {
  position: relative;
}
header .buscador input {
  width: 600px;
  padding: 5px 15px 10px 15px;
  height: auto;
  transition: all 0.6s ease;
  color: grey;
  border-radius: 50px;
  font-size: 15px;
  border: 0.5px solid #e2e2e2;
}
header .buscador .btn {
  position: absolute;
  width: 40px;
  height: 36;
  background: #0854e2;
  border-radius: 50%;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  text-align: center;
  cursor: pointer;
  transition: 0.6s;
  top: 0px;
  right: 0px;
}
header .buscador .btn i {
  font-size: 16px;
  color: white;
  line-height: 37px;
  align-items: center;
}
.contenedor .titulo {
  background-color: #0854e2;
  padding: 20px;
  width: 100%;
  color: black;
  text-align: center;
}
.contenedor .fila {
  max-width: 100%;
  width: 100%;
}
@media (max-width: 900px) {
  header .logo {
    width: 100%;
    text-align: center;

}
}