

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
  }
  .body-header {
    width: 100%;
  }

  a {
    color: black;
    font-size: 15px;
    text-decoration: none;
  }
  .devolucion {
    color: red;
    font-size: 15px;
    text-align: center;
  }
  .argentina img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .iconos-compra-location {
    display: flex;
    align-items: center;
  }
  .iconos-compra-location i {
    font-size: 30px;
    margin-right: 5px;
  }
  .iconos-compra-location span {
    display: flex;
    margin-left: 15px;
  }

  .iconos-compra-location a {
    display: flex;
    margin-left: 10px;
  }
  .descuentos {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: #000000;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
  }
  
  header {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 0 30px;
  }
  .ocultar {
    display: none;
  }
  /** Estilo Logo*/
  header .logo img {
    max-width:280px;
    width: 100%;
  }
  #menu-mobile {
    z-index: 9999;
  }
  

 
  header .btn-menu span.fa {
    color: #dc3b41;
    font-size: 40px;
    cursor: pointer;
  }
  header #menu-mobile ul li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
  }
  header .buscador {
    position: relative;
    margin: auto;
  }
  header .buscador input {
    width: 100%;
    min-width: 250px;
    padding: 5px 15px 10px 15px;
    height: auto;
    transition: all 0.6s ease;
    color: grey;
    border-radius: 50px;
    font-size: 15px;
    border: 0.5px solid #e2e2e2;
    }
  header .buscador .btn {
    position: absolute;
    width: 40px;
    height: 36;
    background: #dc3b41;
    border-radius: 50%;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    text-align: center;
    cursor: pointer;
    transition: 0.6s;
    top: 0px;
    right: 0px;
  }
  header .buscador .btn i {
    font-size: 16px;
    color: white;
    line-height: 37px;
    align-items: center;
  }

  .Compra-item-flex {
    width: 100%;
    margin: 20px 10px;
    color: red;
    text-align: center;
    font-size: 17px;
  }

  nav.nav-full-screen {
    display: none;
  }
  /* MAIN */ 

 .main-home {
background-color: lightgrey;
font-family: sans-serif;
 }

 #juan-slider {
  margin: auto;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  position: relative;
 }

 #juan-slider ul,li {
  padding: 0;
  margin: 0;
  list-style: none;
 }

 #juan-slider ul.slider {
  position: relative;
  width: 100%;
  min-height: 300px;
  height: 600px;
 }

 #juan-slider ul.slider li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  left: 0px;
  top: 0px;
  width: inherit;
  height: inherit;
  transition: opacity .3s;
  background-color: #fff;
  opacity: 0;
  background-size: cover;
}

#juan-slider ul.slider li.active {
  transition: opacity .5s;
  opacity: 1;
}
 
 #juan-slider ul.slider li h1 {
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: oswald;
  font-weight: 900;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

#juan-slider ul.slider li div {
  padding-top: 15px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 50%;
  margin-right: 15px;
  text-align: center;
  z-index: 99;
}

#juan-slider ul.slider li a.button-slide {
    display: inline-block;
    font-family: oswald;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
}

#slide1 {
  background: white url("/img/2022_theOpen_Winner_D_hero.webp") center center no-repeat;
}
#slide2 {
  background: white url("/img/descuentos-ropa-banner.webp") center center no-repeat;
}
#slide3 {
  background: white url("/img/atajos-zapatos.png") center center no-repeat;
}
#slide4 {
  background: white url("/img/atajo-hierros.jpg") center center no-repeat;
  background-size: cover;
}
#slide5 {
  background: white url("/img/atajo-vestir.jpg") center center no-repeat;
}
#slide6 {
  background: white url("/img/atajo-pelotas.webp") center center no-repeat;
}

#slide1 div h2{
  color: white;
  font-family: oswald;
  font-weight: 200;
  font-size: 28px;
  margin-top: 30px;
  text-shadow: 4px 4px 2px rgb(0 0 0 / 60%);
  }

#slide1 div a.button-slide{
  margin-top: 25%;
}
#slide2 div a.button-slide {
  margin-top: 10%;
}
#slide3 div a.button-slide {
  margin-top: 28%;
}
#slide4 div a.button-slide {
  margin-top: 25%;
  display: inline-block;
    font-family: oswald;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
}

#slide5 div a.button-slide {
  margin-top: 25%;
}
#slide6 div a.button-slide {
  margin-top: 25%;
}


#slide3 div {
  width: 100%!important;
}


 #juan-slider .menu-de-a {
  text-align: center;
  margin: 20px;
}

#juan-slider span.fa {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 45%;
  cursor: pointer;
  z-index: 999;
}

#juan-slider span.fa:hover {
  font-weight: bold;
  border: 1px solid white;
}

#juan-slider span.fa.fa-chevron-left {
  left: 15px;
}

#juan-slider span.fa.fa-chevron-right {
  right: 15px;
}

#juan-slider .menu-de-a li {
  display: inline-block;
  text-align: center;
}

#juan-slider .menu-de-a li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
  border: 1px solid #dc3b41;
}
#juan-slider .menu-de-a li a.active {
  background-color: #dc3b41;
  border: 1px solid white;
}


div.palos-titleist {
  margin: 10px;
  position: relative;
  margin-top: 30px;
}

div.palos-titleist img {
  height: 220px;
  width: 100%;
}

div.palos-titleist H4 {
  position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-family: oswald;
    font-weight: 800;
}

div.palos-titleist H5 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  color: white;
  font-size: 20px;
  text-align: center;
  font-size: 25px;
  font-family: oswald;
  font-weight: 800;
}

div.bushnells {
  margin: 10px;
  position: relative;
}

div.bushnells img {
  height: 220px;
  width: 100%;
}

div.bushnells h4 {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-family: oswald;
    font-weight: 800;
}

div.bushnells h5 {
  position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    color: white;
    font-size: 20px;
  text-align: center;
  font-family: oswald;
  font-weight: 800;
}

div.callaway-coleccion {
  margin: 10px;
  position: relative; 
}

div.callaway-coleccion img {
  height: 220px;
  width: 100%;
}

div.callaway-coleccion h4 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  min-width: 300px;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  font-family: oswald;
  font-weight: 800;
  font-family: oswald;
}

div.callaway-coleccion h5 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  font-size: 20px;
  font-weight: 800;
  font-family: oswald;
}


div.callaway-coleccion h6 {
  position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    color: #eee;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
  font-family: oswald;
}


div.clases-golf {
  margin: 10px;
  position: relative;
}

div.clases-golf img {
  height: 220px;
  width: 100%;
}

div.clases-golf h4{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  min-width: 300px;
  font-size: 20px;
  text-align: center;
  font-weight: 200;
  font-family: oswald;
}
div.clases-golf h5{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  font-size: 20px;
  font-weight: 200;
  font-family: oswald;
}

div.clases-golf h6{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  color: #eee;
  font-size: 20px;
  text-align: center;
  font-weight: 200;
  font-family: oswald;
}

div.suscripcion-home{
  height: 290px;
  background-color: black;
  margin-bottom: 15px;
}

div.suscripcion-home h4 {
  text-align: center;
    color: white;
    padding: 15px;
    font-size: 25px;
    font-family: oswald;

}

div.nombre-a-sus {
  margin: auto;
  text-align: center;
}

div.nombre-a-sus label {
  font-size: 20px;
    padding: 0 0 12px;
    color: white;
    text-align: center;
    display: block;
    font-family: oswald;
    
}

div.nombre-a-sus input {
  border: none;
  width: 90%;
  padding: 0 2%;
  border-radius: 10px;
  line-height: 35px;
}

div.email-sus {
  text-align: center;
}
 
div.email-sus label {
  color: white;
    display: block;
    padding: 12px;
    font-size: 20px;
    font-weight: 200;
    font-family: oswald;
}

div.email-sus input {
  border: none;
  width: 90%;
  padding: 0 2%;
  border-radius: 10px;
  line-height: 35px;
}

div.enviar-sus {
  text-align: center;
}

div.enviar-sus button {
  margin: 25px 0 0 0;
    padding: 10px 25px;
    color: white;
    background-color: #3483fa;
    border-radius: 5px;
    border: none;
}


div.bloques-productos img {
  width: 100%;
  height: 450px;
 position: relative;
}

div.indumetaria-home {
 position: relative;
}

div.indumetaria-home span {
  font-weight: 800;
  position: absolute;
  top: 34PX;
  left: 600PX;
  padding: 10px 80px;
  color: black;
  min-width: 250px;
  font-size: 25px;
  font-family: oswald;
  text-align: center;
  text-decoration: underline;
}
div.marcas{
  display: flex;
  background-color: white;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px 15px 0 15px;
}
div.marcas img{
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

div.carros-home {
  position: relative;
}

div.carros-home span {
  position: absolute;
  top: 15PX;
  left: 0%;
  padding: 10px 10px;
  color: white;
  min-width: 250px;
  text-align: center;
  font-size: 25px;
  font-family: oswald;
  text-align: center;
  FONT-WEIGHT: 800;
  text-decoration: underline;
}

div.palos-home {
  position: relative;
}

div.palos-home span {
  position: absolute;
  top: 65PX;
  left: 62%;
  padding: 10px 10px;
  color: #000000;
  opacity: 0.7;
  min-width: 250px;
  text-align: center;
  font-size: 30px;
  font-family: oswald;
  text-align: center;
  FONT-WEIGHT: 900;
  text-decoration: underline;
}
.final-home{
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #dc3b41;
  opacity: 0.7;
 
  
  
}







  /* FOOTER */

 

@media (min-width: 420px) {
    

}

@media (min-width: 790px) {
 
/*HEADER*/

/*FOOTER*/



div.pie-pagina .servicio-cliente, .servicios, .informacion-empresa, .red-social, .subscripcion {
  margin: 0;
}

/* MAIN */ 

section.productos-nuevos {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-around;
}

div.palos-titleist {
  margin: 0;
  width: 48.5%;
}

div.bushnells {
  margin: 0;
  width: 48.5%;
}

div.callaway-coleccion {
  width: 48.5%;
  margin: 0;
}

div.clases-golf {
  width: 48.5%;
  margin: 0;
}

div.suscripcion-home {
  margin: 2% 0.75% 2%;
}

}

@media (min-width: 1000px) {
  
} 