* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

/* MAIN */

div.registro-titulo {
  background-color: #dc3b41;
    text-align: center;
    padding: 20px;
    color: white;
}

div.p-registro {
  margin: 20px;
  font-size: 35px;
  text-align: center;
}

div.nombre-usuario {
  max-width: 70%;
  margin: auto;
}

.login-con-gg-fb{
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
  max-width: 700px;
}


.gg{
  background-color: rgb(219 68 55);
  width: 50%;
  border: none;
  padding: 8px;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
  transition: all 0.2s;
  margin-right: 5px;
}

.gg span{
  display: none;
}

.gg:hover{
  background-color:  rgb(218, 83, 71);
}

.fb{
  background-color: #3b5998;
  width: 50%;
  border: none;
  padding: 8px;
  color: white;
  font-weight: bold;
  transition: all 0.2s;
  margin-left:5px;
}

.fb span{
  display:none;
}

.fb:hover{
  background-color: #4f6596;
}

div.nombre-usuario label {
  font-size: 20px;

}

div.nombre-usuario input {
  width: 100%;
    font-size: 25px;
    padding: 15px;
    color: black;
    border-radius: 5px;
    margin: 5px 0;
}

div.contraseña-sesion {
  max-width: 70%;
  margin: auto;
  padding-top: 20px;
}

div.contraseña-sesion label {
  font-size: 20px;
}

div.contraseña-sesion input {
  width: 100%;
    font-size: 25px;
    padding: 15px;
    color: black;
    border-radius: 5px;
    margin: 5px 0;
}

div.olvidar-contraseña {
  max-width: 70%;
    text-align: right;
    margin: auto;
    font-size: 10px;
}

div.boton-entrar {
  padding: 30px 0 15px 0;
    text-align: center;
}


div.boton-entrar button {
  padding: 15px 20px 15px 20px;
  font-size: 25px;
  font-weight: 600;
  background-color: #dc3b41;
  border-radius: 50px;
  width: 50%;
  color: white;
  border: none;
  opacity: 65%;
  max-width: 300px;
    min-width: 200px;
}

div.registrate {
  font-weight: 550;
  text-align: center;
  padding-bottom: 30px;
}



@media (min-width: 420px) {
    /* HEADER */
 
/* MAIN */

div.olvidar-contraseña {
  font-size: 14px;
}

.gg span {
  display: inline;
  margin-left: 3px;
}

.fb span {
  display: inline;
  margin-left: 3px;
}

}

@media (min-width: 790px) {
 
/*HEADER*/

/*MAIN*/

div.nombre-usuario {
  display: flex;
    flex-direction: column;
    align-items: center;
}

div.nombre-usuario label {
  font-size: 24px;
}

div.nombre-usuario input {
  max-width: 500px;
}

div.contraseña-sesion {
  display: flex;
    flex-direction: column;
    align-items: center;
}

div.contraseña-sesion label {
  font-size: 24px;
}

div.contraseña-sesion input {
  max-width: 500px;
}

div.olvidar-contraseña {
  text-align: center;
  font-size: 16px;
}



/*FOOTER*/
}

@media (min-width: 1000px) {
  
}
 