* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
  }
  
  body.tees h2 {
    opacity: 0.6;
    font-family: 'Oswald';
    color: red;
    font-size: 30px;
  }
  body.tees h4 {
    font-family: 'Oswald';
    color: red;
    font-size: 15px;
    float: left;
  }
  
  body.tees .resultado-busqueda {
    position: relative;
    padding: 15px;
  }
  
  body.tees .resultado-busqueda h2 {
    text-align: right;
  }
  
  body.tees .ordenar-buscador {
    float: right;
  }
  
  /* .select-buscador {
  } */
  
  .hr-1 {
    margin-top: 50px;
  }
  
  body.tees ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
  }
  
  body.tees li.producto-tees-lista {
    width: 47%;
    padding: 10px 0;
    margin: 0 1.5% 20px;
    background: #fff;
    border-bottom: 1px solid gray;
  }
  
  body.tees li.producto-tees-lista img {
    max-width: 100%;
    padding-bottom: 30px;
  }
  body.tees li.producto-tees-lista img.nike{
    transform: rotate(180deg);
  }
  body.tees li.producto-tees-lista img.undergolf{
    transform: rotate(180deg);
  }
  
  
  div.tamaño-hr {
    height: 35%;
    margin-top: 5px;
  }
  
  body.tees li.producto-tees-lista h6{
    text-align: center;
    font-size: 15px;
    font-family: oswald;
    color: rgba(41, 41, 196, 0.892);
  }
  /* .img:hover{
    border-radius: 38px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  } */
  
  body.tees li.producto-tees-lista p {
    text-align: center;
    font-size: 13px;
    margin: 5px 0 8px;
    line-height: 20px;
  }
  
  body.tees li.producto-tees-lista h5 {
    display: flex;
    font-size: 14px;
    justify-content: space-evenly;
  }
  
  body.tees li.producto-tees-lista h5 .span-1 {
    text-decoration: line-through;
  }
  
  body.tees li.producto-tees-lista h5 .span-3 {
    justify-content: center;
  }
  
  body.tees li.producto-tees-lista .p-descuento {
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
  }
  body.tees li.producto-tees-lista .nuevo{
    font-size: 9px;
    width: 45px;
    border-radius: 45px;
    background-color: blue;
    color: white;
    font-family: 'Oswald';
  }
  
  @media (min-width: 420px) {
    
    body.tees h1 {
      text-align: left;
      margin-left: 40px;
  }
  
  body.tees .resultado-busqueda h2 {
    text-align: left;
  }
  }
  
  @media (min-width: 790px) {
  
    body.tees ul {
        justify-content: space-around;
    }  
  
    body.tees li.producto-tees-lista {
        width: 27%;
    }
  
  }
  
  @media (min-width: 790px) {
  body.tees li.producto-tees-lista img {
  margin: auto;
  display: block;
  } 
  }