<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/accesorios.css"/>
  </head>
 
<body class="accesorios" >

  <%- include('./partials/header.ejs')  %>     
  <h1> ACCESORIOS</h1>

  <div class="resultado-busqueda">
    <h2>9 Resultados</h2>
    <div class="ordenar-buscador">
      <label for="buscador">Ordenar por</label>
      <select class="select-buscador" name="buscador" id="">
        <option value="++">De mas baratos a mas caros</option>
        <option value="--">De mas caros a mas baratos</option>
        <option value="top">Mas vendidos</option>
     </select>
    </div>
  </div>
  <hr class="hr-1">

  <div class="resultado-busqueda">
   
      <ul class="resultado-productos">
        
             <li class="producto-accesorios-lista">
             <img src="/img/guante-callaway-img1.webp" alt="guante semisintetico">
                <div class="tamaño-hr">
                    <select class="select-buscador" name="buscador" id="">
                <h6>CALLAWAY</h6>
                <p>Guante diestro</p>
                <h5><span class="span-3">$3.500</span></h5>
                </div>
             </li>
             <li class="producto-accesorios-lista">
              <img src="/img/guantes-footjoy2.webp" alt="guante semisintetico">
                 <div class="tamaño-hr">
                     <select class="select-buscador" name="buscador" id="">
                 <h6>FOOTJOY </h6>
                 <p>Guante diestro Damas</p>
                 <h5><span class="span-3">$3.200</span></h5>
                 </div>
              </li>
              <li class="producto-accesorios-lista">
                <img src="/img/guantes-mizuno2.webp" alt="guante semisintetico">
                   <div class="tamaño-hr">
                       <select class="select-buscador" name="buscador" id="">
                   <h6>MIZUNO</h6>
                   <p>Guante ZURDO</p>
                   <h5><span class="span-3">$3.500</span></h5>
                   </div>
                </li>
                <li class="producto-accesorios-lista">
                  <img src="/img/funda-drive-duende.webp" alt="guante semisintetico">
                     <div class="tamaño-hr">
                         <select class="select-buscador" name="buscador" id="">
                     <h6>MIZUNO</h6>
                     <p>Guante ZURDO</p>
                     <h5><span class="span-3">$3.500</span></h5>
                     </div>
                  </li>
                  <li class="producto-accesorios-lista">
                    <img src="/img/herramientas-caña.webp" alt="guante semisintetico">
                       <div class="tamaño-hr">
                           <select class="select-buscador" name="buscador" id="">
                       <h6>MIZUNO</h6>
                       <p>Guante ZURDO</p>
                       <h5><span class="span-3">$3.500</span></h5>
                       </div>
                    </li>
                    <li class="producto-accesorios-lista">
                      <img src="/img/grips-hierros-img2.webp" alt="guante semisintetico">
                         <div class="tamaño-hr">
                             <select class="select-buscador" name="buscador" id="">
                         <h6>MIZUNO</h6>
                         <p>Guante ZURDO</p>
                         <h5><span class="span-3">$3.500</span></h5>
                         </div>
                      </li>
                      <li class="producto-accesorios-lista">
                        <img src="/img/grips-putter-img2.webp" alt="guante semisintetico">
                           <div class="tamaño-hr">
                               <select class="select-buscador" name="buscador" id="">
                           <h6>MIZUNO</h6>
                           <p>Guante ZURDO</p>
                           <h5><span class="span-3">$3.500</span></h5>
                           </div>
                        </li>
                        <li class="producto-accesorios-lista">
                          <img src="/img/paraguas-mizuno.webp" alt="guante semisintetico">
                             <div class="tamaño-hr">
                                 <select class="select-buscador" name="buscador" id="">
                             <h6>MIZUNO</h6>
                             <p>Guante ZURDO</p>
                             <h5><span class="span-3">$3.500</span></h5>
                             </div>
                          </li>
                          <li class="producto-accesorios-lista">
                            <img src="/img/paraguas-titleist.webp" alt="guante semisintetico">
                               <div class="tamaño-hr">
                                   <select class="select-buscador" name="buscador" id="">
                               <h6>MIZUNO</h6>
                               <p>Guante ZURDO</p>
                               <h5><span class="span-3">$3.500</span></h5>
                               </div>
                            </li>

      </li>
    </ul>
  </div>

</main>
<%- include('./partials/footer.ejs')  %>
</body>
</html>