<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/bolsas.css"/>
  </head>
 
<body class="accesorios" >

  <%- include('./partials/header.ejs')  %>     
  <h1> ACCESORIOS</h1>

  <div class="resultado-busqueda">
    <h2>13 Resultados</h2>
    <div class="ordenar-buscador">
      <label for="buscador">Ordenar por</label>
      <select class="select-buscador" name="buscador" id="">
        <option value="++">De mas baratos a mas caros</option>
        <option value="--">De mas caros a mas baratos</option>
        <option value="top">Mas vendidos</option>
     </select>
    </div>
  </div>
  <hr class="hr-1">

  <div class="resultado-busqueda">
   
      <ul class="resultado-productos">
        
             <li class="producto-accesorio-lista">
             <img src="/img/ACCESORIOS/GUANTES/Callaway/img5.webp" alt="guante semisintetico">
                <div class="tamaño-hr">
                    <select class="select-buscador" name="buscador" id="">
                <h6>CALLAWAY</h6>
                <p>Guante diestro</p>
                <h5><span class="span-3">$3.500</span></h5>
                </div>
             </li>

             <li class="producto-accesorio-lista">
                <img src="//img/ACCESORIOS/GUANTES/FootJoy/img4.webp" alt=" guante de cabretilla">
                   <div class="tamaño-hr">
                    <select class="select-buscador" name="buscador" id="">
                   <h6>FOOTJOY</h6>
                   <p>Guante diestro</p>
                   <h5><span class="span-3">$4.000</span></h5>
                   </div>
                </li>

                <li class="producto-accesorio-lista">
                    <img src="/Public/img/ACCESORIOS/TEES/img3.png" alt="tees de madera">
                       <div class="tamaño-hr">
                       <h6>TEES</h6>
                       <p>Tees de Madera largo - bolsa por 200 unidades</p>
                       <h5><span class="span-3">$3.500</span></h5>
                       </div>
                    </li>

                    <li class="producto-accesorio-lista">
                        <img src="/Public/img/ACCESORIOS/GRIPS/img4.webp" alt="Grip Superstroke para putters">
                           <div class="tamaño-hr">
                           <h6>SUPERSTROKE</h6>
                           <p>Grip putter</p>
                           <h5><span class="span-3">$6.500</span></h5>
                           </div>
                        </li>

                        <li class="producto-accesorio-lista">
                            <img src="/Public/img/ACCESORIOS/GRIPS/img6.webp" alt="Grips Golf Pride">
                               <div class="tamaño-hr">
                               <h6>GOLF PRIDE</h6>
                               <p>Grips para hierros</p>
                               <h5>Por unidad<span class="span-3">$3.200</span></h5>
                               <h5>Juego completo x 7 unidades hierros<span class="span-3">$22.400</span></h5>
                               </div>
                            </li>

        <li class="producto-bolsas-lista">
            <img src="/Public/img/ACCESORIOS/FUNDAS/Fundas Drive/img1.webp" alt="Funda drive duende">
            <div class="tamaño-hr">
            <h6>FUNDA PARA DRIVE</h6>
            <p>Funda peluche duende</p>
            <h5><span class="span-1">$10.400</span><span class="span-3">$8.840</span></h5>
            <p class="p-descuento">Ahorra 15%</p>
            </div>
        </li>

        <li class="producto-bolsas-lista">
            <img src="/Public/img/ACCESORIOS/FUNDAS/Fundas Hierros/img1.webp" alt="Set de fundas para juego de hierros del PW al 3">
            <div class="tamaño-hr">
            <h6>SET FUNDAS HIERROS</h6>
            <p>Fundas protectoras hierros</p>
            <h5><span class="span-3">$8.760</span>
            </div>
        </li>
        <li class="producto-accesorio-lista">
            <img src="/Public/img/ACCESORIOS/GUANTES/Puma/img1.webp" alt=" guante de cabretilla">
               <div class="tamaño-hr">
                <select class="select-buscador" name="buscador" id="">
               <h6>PUMA</h6>
               <p>guante diestro dama</p>
               <h5><span class="span-3">$3.800</span></h5>
               </div>
            </li>
            <li class="producto-accesorio-lista">
                <img src="/Public/img/ACCESORIOS/HERRAMIENTAS/img2.webp" alt=" Caña pescadora - pelotas lagunas">
                   <div class="tamaño-hr">
                    <select class="select-buscador" name="buscador" id="">
                   <h6>CAÑA PESCADORA</h6>
                   <p>Caña para recuperar pelotas de la laguna - extensión 3.40 mts</p>
                   <h5><span class="span-3">$7.800</span></h5>
                 </li>
                </div>
                <li class="producto-bolsas-lista">
                    <img src="/Public/img/ACCESORIOS/PARAGUAS/img5.webp" alt="Paraguas Tileist con doble techo">
                    <div class="tamaño-hr">
                    <h6>PARAGUAS </h6>
                    <p>Paraguas Titleist Pro V1 - Doble techo</p>
                    <h5><span class="span-3">$15.800</span>
                    </div>
                </li>
                <li class="producto-bolsas-lista">
                    <img src="/Public/img/ACCESORIOS/HERRAMIENTAS/img4.webp" alt="Cepillo para limpiar hierros">
                    <div class="tamaño-hr">
                    <h6>CEPILLO MANTENIMIENTO HIERROS </h6>
                    <p>Cepillo doble cerda cobre y plastico</p>
                    <h5><span class="span-3">$3.600</span>
                    </div>
                </li>
                <li class="producto-bolsas-lista">
                    <img src="/Public/img/ACCESORIOS/PARAGUAS/img7.webp" alt="Paraguas Callaway con doble techo">
                    <div class="tamaño-hr">
                    <h6>PARAGUAS </h6>
                    <p>Paraguas Callaway Gris - Doble techo</p>
                    <h5><span class="span-3">$15.800</span>
                    </div>
                </li>
                <li class="producto-bolsas-lista">
                    <img src="/Public/img/ACCESORIOS/TOALLAS/img2.jpg" alt="Toalla Callaway">
                    <div class="tamaño-hr">
                    <h6>TOALLA CALLAWAY NEGRA </h6>
                    <p>Toalla Callaway para limpiar los hierros durante el juego</p>
                    <h5><span class="span-3">$2.700</span>
                    </div>

      </li>
    </ul>
  </div>

</main>

<%- include('./partials/footer.ejs')  %>



</body>
</html>