<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/bolsas.css" />
</head>

<%- include('./partials/head.ejs') %>

<body class="bolsas">
  <%- include('./partials/header.ejs') %>
  <main>
    <div class="resultado-busqueda">
      <h2>BOLSAS DE GOLF</h2>
      <h4>24 Resultados</h4>
      <div class="ordenar-buscador">
        <label for="buscador">Ordenar por</label>
        <select class="select-buscador" name="buscador" id="">
          <option value="++">De mas baratos a mas caros</option>
          <option value="--">De mas caros a mas baratos</option>
          <option value="top" selected>Mas vendidos</option>
          <option value="moda">Nuevo Ingreso</option>
        </select>
      </div>
    </div>
    <hr class="hr-1" />

    <div class="resultado-busqueda">
      <ul class="resultado-productos">
        <li class="producto-bolsas-lista">
          <div class="img">
            <img src="/img/bolsas-2.webp" alt="Bolsa- Taylormade - Negra" />
            <p class="nuevo">NUEVO</p>
          </div>
          <div class="tamaño-hr">
            <h6>TAYLORMADE</h6>
            <p>FlexTech Stand Bag - Cloro: Black</p>
            <h5><span class="span-2">$73.999</span></h5>
            </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-1.webp" alt=""/>
          <div class="tamaño-hr"><br>
            <h6>PING</h6>
            <p>Hoofer Lite Stand Bag - Cloro: Black</p>
            <h5><span class="span-2">$79.999</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista"><br>
          <img src="/img/bolsas-5.webp" alt=""/><br>
            <div class="tamaño-hr"><br><br>
            <h6>TITLEIST</h6>
            <p>Cart 14 2022 Cart Bag - Color: Black</p>
            <h5><span class="span-2">$93.500</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-13.jpg" alt="" />
          <div class="tamaño-hr">
            <h6>TAYLORMADE</h6>
            <p>Supreme Cart Bag Woman's- Color: Cream/LigthGreen</p>
            <h5><span class="span-2">$92.250</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-6.jpg" alt="" />
          <p class="nuevo">NUEVO</p>
          <div class="tamaño-hr">
            <h6>TAYLORMADE</h6>
            <p>Select Cart Bag - Color: Blue/White</p>
            <h5><span class="span-2">$98.533</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-11.webp" alt="" />
          <div class="tamaño-hr">
            <br />
            <h6>CALLAWAY</h6>
            <p>Chev 14 2022 Cart Bag - Color: Turquoise/White</p>
            <h5><span class="span-1">$88.789</span><span class="span-2">75.471</span></h5>
            <p class="p-descuento">Ahorra 25%</p>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-9.webp" alt="" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>PING</h6>
            <p>DLX Cart Bag - Color: Blue/Turquoise</p>
            <h5><span class="span-2">$109.218</span></h5>
          </div>
        </li>

        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-26.webp" alt="" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>TITLEIST</h6>
            <p>Cart 15 StaDry 2022 Cart Bag - Color: Grey/Orange</p>
            <h5><span class="span-2">$119.028</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-12.webp" alt="" />
          <div class="tamaño-hr">
            <h6>CALLAWAY - WOMAN'S</h6>
            <p>HL Zero Double Strap 2022 Stand Bag - Color: Black/Pink</p>
            <h5><span class="span-3">$81.743</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-7.webp" alt="" />
          <div class="tamaño-hr"><br><br><br><br>
            <h6>PING</h6>
            <p>Traverse USArmy Stand Bag - Color: Camouflage</p>
            <h5><span class="span-2">$74.700</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-20.webp" alt="" />
          <p class="nuevo">NUEVO</p>
          <div class="tamaño-hr">
            <h6>COBRA</h6>
            <p>Ultra Ligth Pro Cart Bag - Color: Black/Red/White</p>
            <h5><span class="span-1">$81.750</span><span class="span-2">$77.663</span></h5>
            <p class="p-descuento">Ahorra 5%</p>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-10.webp" alt="" />
          <p class="nuevo">NUEVO</p>
          <div class="tamaño-hr"><br>
            <h6>CALLAWAY</h6>
            <p>Chev 14 2022 Cart Bagn - Color: Navy/White/Red</p>
            <h5><span class="span-2">$68.345</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-1.webp" alt="" />
          <div class="tamaño-hr"><br><br><br>
            <h6>PING</h6>
            <p>Hoofer 15 Stand Bag - Color: Black/White</p>
            <h5>
            <span class="span-1">$91.556</span><span class="span-2">$75.992</span></h5>
            <p class="p-descuento">Ahorra 17%</p>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-27.webp" alt="" />
          <div class="tamaño-hr">
            <h6>TAYLORMADE</h6>
            <p>Select Women's Kalea Stand Bag - Color: White/Grey</p>
            <h5><span class="span-1">$65.400</span><span class="span-2">$58.860</span></h5>
            <p class="p-descuento">Ahorra 10%</p>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-25.webp" alt="" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>TAYLORMADE</h6>
            <p>Supreme Cart Bag -Color: White/Green</p><h5>
            <span class="span-1">$108.500</span><span class="span-2">$100.905</span></h5>
            <p class="p-descuento">Ahorra 7%</p>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-16.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>TITLEIST</h6>
            <p>Cart 15 StaDry 2021 Cart Bag - Color: Blue/Red/White</p>
            <h5><span class="span-2">$102.300</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-22.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>PING</h6>
            <p>DLX SUPREME Cart Bag - Color: Black/White/Red</p>
            <h5><span class="span-2">$117.300</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-14.jpg" alt="" />
          <div class="tamaño-hr"><br>
            <h6>TAYLORMADE</h6>
            <p>SUPREME 2020 - Color: Black/Red</p>
            <h5><span class="span-2">115.400</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-23.webp" alt="" />
          <div class="tamaño-hr">
            <h6>CLEVELANDY</h6>
            <p>CG Cart Bag - Color: Navy/Blue</p>
            <h5><span class="span-2">$58.560</span></h5>     
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-17.webp" alt="" />
          <div class="tamaño-hr">
            <h6>WILSON</h6>
            <p>Nexus Lite Cart Bag - Color: White</p>
            <h5><span class="span-2">$62.130</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-19.webp" alt="" />
          <div class="tamaño-hr">
            <h6>PING</h6>
            <p>Pioneer Cart Bag - Color: Black/White/Red/Navy</p>
            <h5><span class="span-2">$89.598</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-15.jpg" alt="" />
          <div class="tamaño-hr">
            <h6>TAYLORMADE</h6>
            <p>Tour Stretch Tech (Pro V1) - Color: Black/White/Blue</p>
            <h5><span class="span-2">$81.423</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-18.webp" alt="" />
          <div class="tamaño-hr">
            <h6>TITLEIST</h6>
            <p>Hybrid 14 Stand Bag - Color: White</p>
            <h5><span class="span-2">$86.328</span></h5>
          </div>
        </li>
        <li class="producto-bolsas-lista">
          <img src="/img/bolsas-24.webp" alt="" />
          <div class="tamaño-hr">
            <h6>SRIXON</h6>
            <p>Z85 Stand Bag - Color: Black</p>
            <h5><span class="span-1">$81.423</span><span class="span-2">$74.910</span></h5>
            <p class="p-descuento">Ahorra 8%</p>
          </div>
        </li>
      </ul>
    </div>
  </main>

  <%- include('./partials/footer.ejs') %>
</body>

</html>