<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/carros.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="carros">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>CARROS DE GOLF</h2>
        <h4> 9 Resultados</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top" selected>Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          <li class="producto-carros-lista">
          <div class="img">
            <img src="/img/carro-2.webp" alt="">
          </div>
            <div class="tamaño-hr">
            <h6>MOTOCADDY</h6>
            <p>CUBE 3 Push Cart</p>
            <h5><span class="span-2">$59.040</span></h5>
      </div>
        </li>
        <li class="producto-carros-lista">
          <img src="/img/carro-3.webp" alt="">
          <div class="tamaño-hr"><br>
          <h6>BAG BOY</h6>
          <p>M - 350 Pull Cart</p>
          <h5><span class="span-2">$48.270</span></h5>
          </div>
        </li>
        <li class="producto-carros-lista">
          <img src="/img/carro-4.webp" alt="">
          <div class="tamaño-hr"><br>
          <h6>CLICGEAR - JUNIOR</h6>
          <p>Rovic RV3J Push Cart - Color: Blue</p>
          <h5><span class="span-2">$49.700</span></h5>
          </div>
       </li>
      <li class="producto-carros-lista">
        <img src="/img/carro-5.webp" alt="">
        <div class="tamaño-hr"><br>
          <h6>SUN MOUNTAIN</h6>
          <p>Speed Cart V1R Push Cart - Color: Red</p>
          <h5><span class="span-2">$59.700</span></h5>
        </div>
      </li>
    <li class="producto-carros-lista"> 
      <img src="/img/carro-6.webp" alt="">
      <div class="tamaño-hr"><br>
        <h6>SUN MOUNTAIN</h6>
        <p>Speed Cart V1R Push Cart - Color: Yellow</p>
        <h5><span class="span-2">$59.700</span></h5>
      </div>
    </li>
      <li class="producto-carros-lista">
        <img src="/img/carro-7.webp" alt="">
        <div class="tamaño-hr"><br>
        <h6>BAG BOY</h6>
        <p>Quad XL Push Cart- Color: Grey</p>
        <h5><span class="span-2">77.325</span></h5>
        </div>
      </li>
    <li class="producto-carros-lista">
        <img src="/img/carro-10.webp" alt="">
        <div class="tamaño-hr"><br>
        <h6>MOTOCADDY</h6>
        <p>M7 remote Electric Caddy - Color: Black</p>
        <h5><span class="span-2">$134.600</span></h5>
        </div>
       </li>

      <li class="producto-carros-lista">
          <img src="/img/carro-8.jpg" alt="">
          <div class="tamaño-hr">
          <h6>EZ FOLD 360 WHEEL</h6>
          <p> Push Cart - Color: Black</p>
          <h5><span class="span-2">$82.500</span></h5>
          </div>
      </li>
      <li class="producto-carros-lista">
          <img src="/img/carro-9.webp" alt="">
          <div class="tamaño-hr">
          <h6>BAG BOY</h6>
          <p>Quad XL 4 Wheels Push Cart- Color: Orange</p>
          <h5><span class="span-3">$75.870</span></h5>
          </div>
      </li>
      </ul>
      </div>
    </main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
