<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/fundas.css" />
</head>

<%- include('./partials/head.ejs') %>

<body class="fundas">
  <%- include('./partials/header.ejs') %>
  <main>
    <div class="resultado-busqueda">
      <h2>FUNDAS PARA PALOS</h2>
      <h4>24 Resultados</h4>
      <div class="ordenar-buscador">
        <label for="buscador">Ordenar por</label>
        <select class="select-buscador" name="buscador" id="">
          <option value="++">De mas baratos a mas caros</option>
          <option value="--">De mas caros a mas baratos</option>
          <option value="top" selected>Mas vendidos</option>
          <option value="moda">Nuevo Ingreso</option>
        </select>
      </div>
    </div>
    <hr class="hr-1" />

    <div class="resultado-busqueda">
      <ul class="resultado-productos">
        <li class="producto-fundas-lista">
          <div class="img"><br><br><br>
            <img src="/img/funda-hibrid-ping.webp" alt="" />
          </div>
          <p class="nuevo">NUEVO</p>
          <div class="tamaño-hr"><br><br><br>
            <h6>PING</h6>
            <p>Core Hybrid Headcover - Cloro: Black/white</p>
            <h5><span class="span-2">$11.555</span></h5>
            </div>
        </li>
        <li class="producto-fundas-lista"><br><br><br>
          <img src="/img/funda-drive-peluche.webp" alt=""/>
          <div class="tamaño-hr"><br><br><br><br>
            <h6>DAPHNES HEADCOVERS</h6>
            <p>Daphnes Military Bear Headcover</p>
            <h5><span class="span-2">$15.190</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista"><br>
          <img src="/img/funda-drive-taylormade.webp" alt=""/><br>
            <div class="tamaño-hr">
            <h6>TAYLORMADE</h6>
            <p>Driver Headcover</p>
            <h5><span class="span-2">$17.848</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/funda-drive-perro.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>DAPHNES HEADCOVERS</h6>
            <p>Daphnes Dog Headcover</p>
            <h5><span class="span-2">$14.050</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/funda-drive-pirata.webp" alt="" />
          <p class="nuevo">NUEVO</p>
          <div class="tamaño-hr">
            <h6>DAPHNES HEADCOVER</h6>
            <p>Daphnes Pirate Headcover</p>
            <h5><span class="span-2">$15.232</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/funda-drive-tiger.webp" alt="" />
          <div class="tamaño-hr"><br/>
            <h6>DAPHNES HEADCOVER</h6>
            <p>Daphnes Tiger Headcover - Tiger Woods Edition</p>
            <h5><span class="span-2">20.125</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/funda-drive.dragon.webp" alt="" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>DAPHNES HEADCOVER</h6>
            <p>Daphnes Dragon Headcover</p>
            <h5><span class="span-2">$16.540</span></h5>
          </div>
        </li>

        <li class="producto-fundas-lista">
          <img src="/img/fundas-con-numero.webp" alt="" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>SET FUNDAS</h6>
            <p>Drive/Madera/Hibrido - Color: Blue/White</p>
            <h5><span class="span-2">$24.375</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/funda-drive.duende.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>DAPHNES HEADCOVER</h6>
            <p>Daphnes Leprechaun Headcover</p>
            <h5><span class="span-3">$15.886</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/funda-drive.gorilla.webp" alt="" />
          <div class="tamaño-hr"><br><br>
            <h6>DAPHNES HEADCOVE</h6>
            <p>Daphnes Gorilla's Headcover</p>
            <h5><span class="span-2">$18.502</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/funda-drive.starswars.webp" alt="" />
          <p class="nuevo">NUEVO</p>
          <div class="tamaño-hr">
            <h6>DAPHNES HEADCOVE</h6>
            <p>Daphnes chewbacca Headcover</p>
            <h5><span class="span-2">$16.920</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/funda-hibrido-beer.webp" alt="" />
          <p class="nuevo">NUEVO</p>
          <div class="tamaño-hr"><br>
            <h6>DAPHNES HEADCOVE</h6>
            <p>Daphnes Beer's Headcover</p>
            <h5><span class="span-2">$13.085</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/fundas-hierros- callaway.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>CALLAWAY</h6>
            <p>Set Iron Covers</p>
            <h5><span class="span-2">$17.848</span></h5>
            </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/fundas-hierros.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>IRONS COVERS</h6>
            <p>Club Glove Neoprene 8 Pc Set Reg Iron Cover - Color: Black</p>
            <h5><span class="span-2">$13.345</span></h5>
            </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/fundas-hierros1.webp" alt="" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>IRONS COVERS</h6>
            <p>Generic Set Irons Headcovers - Color: Black</p><h5>
            <span class="span-2">$10.559</span></h5>
            </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/fundas-putters1.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>MIZUNO</h6>
            <p>Headcover Putter - Color: Blue/White</p>
            <h5><span class="span-2">$13.975</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/fundas-putters2.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>CALLAWAY</h6>
            <p>Headcover APX Putter - Color: Black</p>
            <h5><span class="span-2">$15.165</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/fundas-putters3.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>PING</h6>
            <p>Headcover Cactus Putter - Color: Yellow</p>
            <h5><span class="span-2">14.625</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/fundas-putters4.webp" class="nike" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>NIKE</h6>
            <p>Headcover Tech Extreme IV Golf Putter - Color: Black/White</p>
            <h5><span class="span-2">$15.425</span></h5>     
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/funda-taylormade-putter.png" alt="" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>TAYLORMADE</h6>
            <p>Headcover The Open Champion's Edition Putter</p>
            <h5><span class="span-2">$13.848</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/funda-drive-cactus.jpg" alt="Bridgestone Glove" />
          <div class="tamaño-hr">
            <h6>DAPHNES HEADCOVERS</h6>
            <p> Drive Daphnes Cactus Headcover</p>
            <h5><span class="span-2">$14.899</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/funda-drive-elephant.jpg" alt="Taylormade Glove" />
          <div class="tamaño-hr">
            <h6>DAPHNES HEADCOVERS</h6>
            <p>Drive Daphnes Elephant Headcover</p>
            <h5><span class="span-2">$18.175</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/funda-drive-lion.jpg" alt="" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>DAPHNES HEADCOVERS</h6>
            <p>Drive Daphnes Lion Headcover</p>
            <h5><span class="span-2">$16.755</span></h5>
          </div>
        </li>
        <li class="producto-fundas-lista">
          <img src="/img/funda-drive-moose.jpg" alt="" />
          <div class="tamaño-hr">
            <h6>DAPHNES HEADCOVERS</h6>
            <p>Drive Daphnes Moose Headcover</p>
            <h5><span class="span-2">$19.675</span></h5>
            </div>
        </li>
      </ul>
    </div>
  </main>

  <%- include('./partials/footer.ejs') %>
</body>

</html>