<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/gorras.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="gorras">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>GORRAS DE GOLF</h2>
        <h4> 24 Resultados</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top" selected>Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          <li class="producto-gorras-lista">
          <div class="img">
            <img src="/img/gorras-2.webp" alt="Gorra- Titleist Celeste/Negra">
          </div>
            <div class="tamaño-hr">
            <h6>TITLEIST</h6>
            <p class="nuevo">NUEVO</p>
            <p>Color: LigthBlue/DarkGrey</p>
            <h5><span class="span-1">$8000</span><span class="span-2">$7.040</span></h5>
            <p class="p-descuento">Ahorra 12%</p>
      </div>
        </li>
        <li class="producto-gorras-lista">
          <img src="/img/gorras-1.webp" alt="">
          <div class="tamaño-hr"><br>
          <h6>WILSON</h6>
          <p>Color: Grey</p>
          <h5><span class="span-2">$6.200</span></h5>
          </div>
        </li>
        <li class="producto-gorras-lista">
          <img src="/img/gorras-3.webp" alt="">
          <div class="tamaño-hr"><br>
          <h6>TITLEIST</h6>
          <p>woman's Headcover - Color: Salmon</p>
          <h5><span class="span-2">$7.700</span></h5>
          </div>
       </li>
      <li class="producto-gorras-lista">
        <img src="/img/gorras-5.webp" alt="">
        <div class="tamaño-hr"><br>
        <h6>UNDER\\GOLF</h6>
        <p>Color: Blue/White</p>
        <h5><span class="span-2">$8.900</span></h5>
        </div>
      </li>
    <li class="producto-gorras-lista">
      
      <img src="/img/gorras-6.webp" alt="">
      <p class="nuevo">NUEVO</p>
      <div class="tamaño-hr">
      <h6>CALLAWAY</h6>
      <p>Color: Grey/Blue</p>
      <h5><span class="span-2">$8.800</span></h5>
      </div>
    </li>
      <li class="producto-gorras-lista">
        <img src="/img/gorras-7.webp" alt="">
        <div class="tamaño-hr"><br>
        <h6>COBRA</h6>
        <p>Color: Black</p>
        <h5><span class="span-2">7.600</span></h5>
        </div>
      </li>
    <li class="producto-gorras-lista">
        <img src="/img/gorras-9.webp" alt="">
        <div class="tamaño-hr"><br>
        <h6>TAYLORMADE</h6>
        <p>Color: DarkGrey/Green</p>
        <h5><span class="span-2">$7.600</span></h5>
        </div>
       </li>

      <li class="producto-gorras-lista">
          <img src="/img/gorras-8.webp" alt="">
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
          <h6>PUMA - Tour Edition-Arnol Palmer Invitational</h6>
          <p>Color: Red/Green/Yellow</p>
          <h5><span class="span-2">$12.500</span></h5>
          </div>
      </li>
      <li class="producto-gorras-lista">
          <img src="/img/gorras-12.webp" alt="">
          <div class="tamaño-hr">
          <h6>NIKE</h6>
          <p>Color: Black</p>
          <h5><span class="span-3">$8.800</span></h5>
          </div>
      </li>
      <li class="producto-gorras-lista">
          <img src="/img/gorras-11.webp" alt="">
          <div class="tamaño-hr">
          <h6>PING</h6>
          <p>USA - Color: Blue</p>
          <h5><span class="span-2">$10.000</span></h5>
          </div>
      </li>
          <li class="producto-gorras-lista">
            <img src="/img/gorras-20.webp" alt="">
            <p class="nuevo">NUEVO</p>
            <div class="tamaño-hr">
            <h6>PING</h6>
            <p>Tour Paradaiso Snapbacks - Color: Black</p>
            <h5><span class="span-1">$16.700</span><span class="span-2">$12.525</span></h5>
            <p class="p-descuento">Ahorra 25%</p>
            </div>
        </li>
        <li class="producto-gorras-lista">
          <img src="/img/gorras-10.webp" alt="">
          <div class="tamaño-hr">
          <h6>PUMA</h6>
          <p>Gust O' Wind P Snapback - Color: Lemon</p>
          <h5><span class="span-2">$8.945</span></h5>
          </div>
      </li>
      <li class="producto-gorras-lista">
        <img src="/img/boina-1.webp" alt="">
        <div class="tamaño-hr">
        <h6> BOINA - PUMA </h6>
        <p>BRYSON DECHAMBEAU Edition - Color: Red</p>
        <h5><span class="span-1">$17.500</span><span class="span-2">$11.375</span></h5>
        <p class="p-descuento">Ahorra 35%</p>
        </div>
    </li>
    <li class="producto-gorras-lista">
      <img src="/img/boina-2.webp" alt="">
      <div class="tamaño-hr">
        <h6> BOINA - PUMA </h6>
        <p>BRYSON DECHAMBEAU Edition - Color: White</p>
        <h5><span class="span-1">$17.500</span><span class="span-2">$11.375</span></h5>
        <p class="p-descuento">Ahorra 35%</p>
        </div>
  </li>
    <li class="producto-gorras-lista">
        <img src="/img/boina-3.webp" alt="">
        <div class="tamaño-hr">
          <h6> BOINA - PUMA </h6>
          <p>BRYSON DECHAMBEAU Edition -Color: Black</p>
          <h5><span class="span-1">$17.500</span><span class="span-2">$11.375</span></h5>
          <p class="p-descuento">Ahorra 35%</p>
          </div>
    </li>
    <li class="producto-gorras-lista">
      <img src="/img/gorras-16.webp" alt="">
      <div class="tamaño-hr">
      <h6>PING</h6>
      <p>Tour Vented Delta - Color White </p>
      <h5><span class="span-2">$10.700</span></h5>
      </div>
    </li>
      <li class="producto-gorras-lista">
        <img src="/img/gorro-invierno.webp" alt="">
        <div class="tamaño-hr">
        <h6>TITLEIST</h6>
        <p>Gorro Invierno - Color: DarkGrey </p>
        <h5><span class="span-2">$13.500</span></h5>
        </div>
      </li>
      <li class="producto-gorras-lista">
        <img src="/img/gorras-13.webp" alt="">
        <div class="tamaño-hr">
        <h6>NIKE</h6>
        <p>Dri-FIT ADV Classic99 Perforated - Color: White</p>
        <h5><span class="span-2">12.000</span></h5>
        </div>
      </li>
        <li class="producto-gorras-lista">
          <img src="/img/gorras-14.webp" alt="">
          <div class="tamaño-hr">
          <h6>CALLAWAY</h6>
          <p>Liquid Metal Visor - Color: White/ BlueMetal</p>
          <h5><span class="span-1">$13.000</span><span class="span-2">$11.960</span></h5>
          <p class="p-descuento">Ahorra 8%</p>
          </div>
        </li>
        <li class="producto-gorras-lista">
          <img src="/img/gorras-17.webp" alt="">
          <div class="tamaño-hr">
          <h6>NIKE</h6>
          <p>Tour Rope Flat Bill - Color: Blue/White </p>
          <h5><span class="span-2">$9.875</span></h5>
          </div>
        </li>
      <li class="producto-gorras-lista">
        <img src="/img/gorras-19.webp" alt="">
        <div class="tamaño-hr">
        <h6>TAYLORMADE</h6>
        <p>TaylorMade Tour Radar Hat</p>
        <h5><span class="span-2">$10.875</span></h5>
        </div>
      </li>
          <li class="producto-gorras-lista">
              <img src="/img/gorras-15.webp" alt="">
              <div class="tamaño-hr">
              <h6>TITLEIST</h6>
              <p>Tour Stretch Tech (Pro V1) - Color: White/Red</p>
              <h5><span class="span-2">$13.400</span></h5>
              </div>
          </li>
          <li class="producto-gorras-lista">
              <img src="/img/gorras-22.webp" alt="">
              <div class="tamaño-hr">
              <h6>UNDER\\GOLF</h6>
              <p>UA Iso-Chill Driver Mesh</p>
              <h5><span class="span-2">$11.450</span></h5>
              </div>
          </li>
          <li class="producto-gorras-lista">
              <img src="/img/gorras-21.webp" alt="">
              <div class="tamaño-hr">
              <h6>NIKE </h6>
              <p>Dri-FIT Tiger Woods Legacy91 - Color: White/Red</p>
              <h5><span class="span-1">$18.990</span><span class="span-2">$14.243</span></h5>
              <p class="p-descuento">Ahorra 25%</p>
            </div>
          </li>
        </ul>
      </div>
    </main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
