<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/guantes.css" />
</head>

<%- include('./partials/head.ejs') %>

<body class="guantes">
  <%- include('./partials/header.ejs') %>
  <main>
    <div class="resultado-busqueda">
      <h2>GUANTES DE GOLF</h2>
      <h4>24 Resultados</h4>
      <div class="ordenar-buscador">
        <label for="buscador">Ordenar por</label>
        <select class="select-buscador" name="buscador" id="">
          <option value="++">De mas baratos a mas caros</option>
          <option value="--">De mas caros a mas baratos</option>
          <option value="top" selected>Mas vendidos</option>
          <option value="moda">Nuevo Ingreso</option>
        </select>
      </div>
    </div>
    <hr class="hr-1" />

    <div class="resultado-busqueda">
      <ul class="resultado-productos">
        <li class="producto-guantes-lista">
          <div class="img">
            <img src="/img/guante-undergolf-img1.webp" class="undergolf"alt="Under\\Golf - Glove" />
            <p class="nuevo">NUEVO</p>
          </div>
          <div class="tamaño-hr"><br>
            <h6>UNDER\\GOLF</h6>
            <p>UA Iso-Chill Golf Glove - Cloro: Black/white</p>
            <h5><span class="span-2">$5.555</span></h5>
            </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guante-callaway-img5.webp" alt=""/>
          <div class="tamaño-hr"><br><br>
            <h6>CALLAWAY</h6>
            <p>Weather Spann Glove (2 Pack) - Cloro: Black/white</p>
            <h5><span class="span-2">$7.190</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista"><br>
          <img src="/img/guantes-footjoy1.webp" alt=""/><br>
            <div class="tamaño-hr">
            <h6>FOOTJOY</h6>
            <p>Men's Spectrum Glove - Color: Orange</p>
            <h5><span class="span-2">$7.848</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-footjoy3.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>FOOTJOY</h6>
            <p>FootJoy Women's WeatherSof Glove- Color: White/Black</p>
            <h5><span class="span-2">$4.050</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-mizuno1.webp" alt="" />
          <p class="nuevo">NUEVO</p>
          <div class="tamaño-hr">
            <h6>MIZUNO</h6>
            <p>Men's Elite Glove - Color: White/Black</p>
            <h5><span class="span-2">$5.232</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-puma-dama.webp" alt="" />
          <div class="tamaño-hr">
            <br />
            <h6>PUMA</h6>
            <p>Women's Sport Performance Glove - Color: White/Pink</p>
            <h5><span class="span-1">$4.251</span><span class="span-2">2.125</span></h5>
            <p class="p-descuento">Ahorra 50%</p>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-ping2.webp" alt="" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>PING</h6>
            <p>Men's Sport Glove - Color: Black/White</p>
            <h5><span class="span-2">$6.540</span></h5>
          </div>
        </li>

        <li class="producto-guantes-lista">
          <img src="/img/guantes-srixon3.webp" alt="" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>SRIXON</h6>
            <p>Women's All Weather Glove - Color: White/Grey/Black</p>
            <h5><span class="span-2">$4.375</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-taylormade2.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>TAYLORMADE</h6>
            <p>Women's Kalea Leather Glove - Color: Grey/White</p>
            <h5><span class="span-3">$5.886</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-titleist2.webp" alt="" />
          <div class="tamaño-hr"><br><br>
            <h6>TITLEIST</h6>
            <p>Titleist Players Golf Glove - Color: White/Black</p>
            <h5><span class="span-2">$8.502</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-wilson2.webp" alt="" />
          <p class="nuevo">NUEVO</p>
          <div class="tamaño-hr">
            <h6>WILSON</h6>
            <p>Wilson Staff Men's Conform Glove - Color: Black/White</p>
            <h5><span class="span-1">7.521</span><span class="span-2">$6.920</span></h5>
            <p class="p-descuento">Ahorra 8%</p>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-footjoy5.webp" alt="" />
          <p class="nuevo">NUEVO</p>
          <div class="tamaño-hr"><br>
            <h6>FOOTJOY</h6>
            <p>FootJoy Men's Rain Gloves (Pair) - Color:Black/White</p>
            <h5><span class="span-2">$13.085</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-footjoy4.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>FOOTJOY</h6>
            <p>Women's Spectrum Camouflage Glove- Color: Pink</p>
            <h5><span class="span-2">$7.848</span></h5>
            </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-mizuno2.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>MIZUNO</h6>
            <p>Men's Rainfit Gloves- (Pair) - Color: Black/Blue</p>
            <h5><span class="span-2">$10.345</span></h5>
            </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-taylormade1.webp" alt="" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>TAYLORMADE</h6>
            <p>Stratus Soft Glove - Color: White/Black</p><h5>
            <span class="span-2">$6.559</span></h5>
            </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guante-callaway-img4.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>CALLAWAY</h6>
            <p>Men's Thermal Grip Glove - Color: Black</p>
            <h5><span class="span-2">$8.175</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-wilson1.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>WILSON</h6>
            <p>Wilson Staff Men's Grip Soft Glove - Color: Black/White</p>
            <h5><span class="span-2">$5.165</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-puma.webp" alt="" />
          <div class="tamaño-hr"><br>
            <h6>PUMA</h6>
            <p>Women's Monoline Performance Glove- Color: White/LigthBlue</p>
            <h5><span class="span-2">4.625</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-nike1.webp" class="nike" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>NIKE</h6>
            <p>Tech Extreme VII Golf Glove- Color: Black/White</p>
            <h5><span class="span-2">$9.425</span></h5>     
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-footjoy9.webp" alt="" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>FOOTJOY</h6>
            <p>Men's Spectrum Glove - Color: Grey</p>
            <h5><span class="span-2">$7.848</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-bridgestone1.webp" alt="Bridgestone Glove" />
          <div class="tamaño-hr">
            <h6>BRIDGESTONE</h6>
            <p>E Glove- Color: Black/White/Red</p>
            <h5><span class="span-2">$4.899</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-mizuno3.webp" alt="Taylormade Glove" />
          <div class="tamaño-hr">
            <h6>MIZUNO</h6>
            <p>Men's Tour Glove - Color: Black/White</p>
            <h5><span class="span-2">$8.175</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-titleist1.webp" alt="" />
          <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>TITLEIST</h6>
            <p>Titleist Perma-Soft Golf Glove - Color: White</p>
            <h5><span class="span-2">$6.755</span></h5>
          </div>
        </li>
        <li class="producto-guantes-lista">
          <img src="/img/guantes-ping1.webp" alt="" />
          <div class="tamaño-hr">
            <h6>PING</h6>
            <p>Men's Tour Glove - Color: White/Black</p>
            <h5><span class="span-2">$9.675</span></h5>
            </div>
        </li>
      </ul>
    </div>
  </main>

  <%- include('./partials/footer.ejs') %>
</body>

</html>