<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/herramientas.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="herramientas">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>HERRAMIENTAS DE GOLF</h2>
        <h4> 9 Resultados</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top" selected>Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          <li class="producto-herramientas-lista">
            <img src="/img/herramienta-cepillo.webp" alt="">
            <div class="tamaño-hr">
            <h6>GLOBAL TOUR GOLF</h6>
            <p>Global Tour Golf Bulls Eye Brush</p>
            <h5><span class="span-2">$3.285</span></h5>
            </div>
        </li>
        <li class="producto-herramientas-lista">
          <img src="/img/herramientas-caña.webp" alt="">
          <div class="tamaño-hr">
          <h6>I GOTCHA</h6>
          <p>Caña Pescadora Pelotas - Jawz Compact Retriever 18'</p>
          <h5><span class="span-2">$8.632</span></h5>
          </div>
      </li>
      <li class="producto-herramientas-lista">
        <img src="/img/herramienta-levanta-pique.webp" alt="">
        <div class="tamaño-hr">
        <h6>TITLEIST</h6>
        <p>Titleist Scotty Cameron Pivot Repair Tool - (Levanta Pique)</p>
        <h5><span class="span-2">$2.100</span></h5>
        </div>
    </li>
    <li class="producto-herramientas-lista">
      <img src="/img/herramientas-divot.webp" alt="">
      <div class="tamaño-hr">
      <h6>GOLF - LEVANTA PIQUE</h6>
      <p>Retractable Repair Tool</p>
      <h5><span class="span-2">1.855</span></h5>
      </div>
  </li>
  <li class="producto-herramientas-lista">
    <img src="/img/herramientas-putting-practicet.webp" alt="">
    <div class="tamaño-hr">
    <h6>PERFECT PRACTICE</h6>
    <p>Perfect Putting Mat - Standard Edition 2022</p>
    <h5><span class="span-2">$56.898</span></h5>
    </div>
</li>
      <li class="producto-herramientas-lista">
        <img src="/img/herramienta-marca-green.webp" alt="">
        <div class="tamaño-hr"><br><br>
        <h6>WILSON</h6>
        <p>Marcador Green Wilson Para Gorra  </p>
        <h5><span class="span-2">$2.700</span></h5>
        </div>
    </li>
    <li class="producto-herramientas-lista">
      <img src="/img/herramienta-pitching-practica.webp" alt="">
      <div class="tamaño-hr"><br><br>
      <h6>GOLF - RED DE PRACTICA</h6>
      <p>Red de Entrenamiento en Casa</p>
      <h5><span class="span-2">$34.758</span></h5>
      </div>
  </li>
  <li class="producto-herramientas-lista">
    <img src="/img/herramientas-varillas-aliniacion.webp" alt="">
    <div class="tamaño-hr">
    <h6>VARILLAS DE ALINEACION</h6>
    <p>Varillas de Entrenamiento Pro Stix Yellow</p>
    <h5><span class="span-2">$5.232</span></h5>
    </div>
</li>
    <li class="producto-herramientas-lista">
      <img src="/img/herramienta-red-practica.webp" alt="">
      <div class="tamaño-hr">
      <h6>GOLF - RED DE PRACTICA</h6>
      <p>Red de lujo 9x7 - Practice Swing Golf</p>
      <h5><span class="span-2">$74.250</span></h5>
      </div>
      </li>
      </ul>
      </div>
    </main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
