<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/home.css"/>
  </head>
 
<body>

  <%- include('./partials/header.ejs')  %>     


<main>
 
 <div class="main-home">
  <div id="juan-slider">
  <ul class="slider">
    <li id="slide1">
      <img src="/img/campos/carilo-golf-club/slide1.jpg" alt="Slide image 1">
    </li>

    <li id="slide2">
<img src="/img/campos/villa-allende/slide2.jpg" alt="Slide image 2">
    </li>

    <li id="slide3">
      <img src="/img/2022_theOpen_Winner_D_hero.webp"  alt="">
      <button>COMPRA SU EQUIPO AQUÍ</button>
    </li>
  </ul>
  <ul class="menu-de-a">
<li>
  <a href="slide1"></a>
</li>
<li>
  <a href="slide2"></a>
</li>
<li>
  <a href="slide3"></a>
</li>
  </ul>

 </div>
</div>


<section class="productos-nuevos">
<div class="palos-titleist">
<img src="/img/titleistpalos.jpeg" alt="New release titleist irons">
<h4>PEDILOS HOY</h4>
<h5>LANZAMIENTO 10/09/2022</h5>
</div>
<div class="bushnells">
<img src="/img/bushnell-golf.webp" alt="Bushnells Rangefinders">
<h4>AHORRA $9.999</h4>
<h5>BUSHNELL V5 RANGEFINDERS</h5>
</div>
<div class="callaway-coleccion">
  <img src="/img/golf-1-1.jpeg" alt="">
 <h4>NUEVA COLLECCION CALLAWAY</h4>
 <h5>PEDILOS HOY</h5>
 <h6>LANZAMIENTO 7/10/2022</h6>
</div>
<div class="clases-golf">
<img src="/img/gold-2-1.webp" alt="">
<h4>NUEVO PAQUETE CLASES</h4>
<h5>PERSONALIZADAS</h5>
<h6>GRUPALES</h6>
</div>
</section>

<div class="suscripcion-home">
<h4>SUBSCRIBETE AL NEWSLETTER</h4>
<div class="nombre-a-sus">
  <label for="nombreapellido">Nombre y apellido</label>
  <input type="text" name="nombreapellido" maxlength="200" required>
</div>
<div class="email-sus">
  <label for="email-subscripcion">EMAIL</label>
  <input type="email" name="email-subscripcion" maxlength="200" required >
</div>
<div class="enviar-sus">
  <button type="submit" id="suscripcion">ENVIAR</button>
</div>
</div>



<div class="bloques-productos">
<div class="indumetaria-home">
  <img src="/img/golf-indumentaria.jpeg" alt="">
  <span>INDUMENTARIA</span>
</div>
<div class="carros-home">
  <img src="/img/carros-golf.jpeg" alt="">
  <span>CARROS</span>
</div>
<div class="palos-home"><img src="/img/palos-golf1.jpeg" alt="">
  <span>PALOS DE GOLF</span>
</div>


</main>

<%- include('./partials/footer.ejs')  %>



</body>
</html>