<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/indumentaria.css"/>
  </head>
 
<body class="indumentaria" >

  <%- include('./partials/header.ejs')  %>     


<main>
 
    <h1>ZAPATOS DE GOLF</h1>

    <div class="resultado-busqueda">
      <h2>14 Resultados</h2>
      <div class="ordenar-buscador">
        <label for="buscador">Ordenar por</label>
        <select class="select-buscador" name="buscador" id="">
          <option value="++">De mas baratos a mas caros</option>
          <option value="--">De mas caros a mas baratos</option>
          <option value="top">Mas vendidos</option>
          <option value="moda">Moda del momento</option>
        </select>
      </div>
    </div>
    <hr class="hr-1">

    <div class="resultado-busqueda">
      <ul class="resultado-productos">
          <li class="producto-indumentaria-lista">
              <img src="/img/indu-1.png" alt="">
              <div class="tamaño-hr">
                  <h6>BARSTOOL SPORTS</h6>
                  <p>Barstool Golf Golf Flowers Hoodie</p>
                  <h5><span class="span-3">$12.950</span></h5>
              </div>
              
          </li>
          <li class="producto-indumentaria-lista">
            <img src="/img/indu-2.webp" alt="">
            <div class="tamaño-hr">
                <h6>FOOTJOY</h6>
                <p>FootJoy HydroLite Rain Jacket</p>
                <h5><span class="span-3">$14.350</span></h5>
            </div>
            
        </li>
        <li class="producto-indumentaria-lista">
            <img src="/img/indu-3.jpeg" alt="">
            <div class="tamaño-hr">
                <h6>PGA TOUR APPAREL</h6>
                <p>Solar Block Sleeves</p>
                <h5><span class="span-3">$6.050</span></h5>
            </div>
            
        </li>
        <li class="producto-indumentaria-lista">
            <img src="/img/indu-4.png" alt="">
            <div class="tamaño-hr">
                <h6>PUMA</h6>
                <p>Solid PWRSHAPE Golf 16" Skort</p>
                <h5><span class="span-3">$10.950</span></h5>
            </div>
            
        </li>
        <li class="producto-indumentaria-lista">
            <img src="/img/indu-5.png" alt="">
            <div class="tamaño-hr">
                <h6>PUMA</h6>
                <p>Women's 2020 PWRSHAPE Solid Golf Pant</p>
                <h5><span class="span-3">$10.000</span></h5>
            </div>
            
        </li>
        <li class="producto-indumentaria-lista">
            <img src="/img/indu-6.webp" alt="">
            <div class="tamaño-hr">
                <h6>PEBBLE BEACH</h6>
                <p>Ottoman Stripe Polo</p>
                <h5><span class="span-3">$10.500</span></h5>
            </div>
            
        </li>
        <li class="producto-indumentaria-lista">
            <img src="/img/indu-7.jpeg" alt="">
            <div class="tamaño-hr">
                <h6>TITLEIST</h6>
                <p>StaDry Performance Bucket Hat</p>
                <h5><span class="span-3">$9.550</span></h5>
            </div>
            
        </li>
        <li class="producto-indumentaria-lista">
            <img src="/img/indu-8.png" alt="">
            <div class="tamaño-hr">
                <h6>TITLEIST</h6>
                <p>Tour Rope Flat Bill</p>
                <h5><span class="span-3">$26.750</span></h5>
            </div>
            
        </li>
        <li class="producto-indumentaria-lista">
            <img src="/img/indu-9.png" alt="">
            <div class="tamaño-hr">
                <h6>PUMA</h6>
                <p>AP CLOUDSPUN ClubHouse Quarter-Zip</p>
                <h5><span class="span-3">$13.750</span></h5>
            </div>
            
        </li>
        <li class="producto-indumentaria-lista">
            <img src="/img/indu-10.png" alt="">
            <div class="tamaño-hr">
                <h6>NIKE</h6>
                <p>Legacy 91 Tech Cap 20</p>
                <h5><span class="span-3">$7.990</span></h5>
            </div>
            
        </li>
        <li class="producto-indumentaria-lista">
            <img src="/img/indu-12.png" alt="">
            <div class="tamaño-hr">
                <h6>PGA TOUR BELTS</h6>
                <p>Silicone Belt</p>
                <h5><span class="span-3">$8.550</span></h5>
            </div>
            
        </li>
        <li class="producto-indumentaria-lista">
            <img src="/img/indu-13.jpeg" alt="">
            <div class="tamaño-hr">
                <h6>FOOTJOY</h6>
                <p>FootJoy Men's Rain Gloves</p>
                <h5><span class="span-3">$9.750</span></h5>
            </div>
            
        </li>
        <li class="producto-indumentaria-lista">
            <img src="/img/indu-14.jpeg" alt="">
            <div class="tamaño-hr">
                <h6>ADIDAS</h6>
                <p>CODECHAOS 22 Men's Golf Shoe</p>
                <h5><span class="span-3">$26.750</span></h5>
            </div>
            
        </li>
        <li class="producto-indumentaria-lista">
            <img src="/img/indu-15.png" alt="">
            <div class="tamaño-hr">
                <h6>PUMA</h6>
                <p>Caddie Sripe Polo</p>
                <h5><span class="span-3">$11.000</span></h5>
            </div>
            
        </li>
      </ul>
    </div>

</main>

<%- include('./partials/footer.ejs')  %>



</body>
</html>