<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/iniciosesion.css">
  </head>
</head>
<body>

   
      <%- include('./partials/header.ejs')  %>  
      


  <main>

<div class="registro-titulo">
<h1>MI CUENTA</h1>
</div>

<div class="p-registro">
  <p>Inicio de Sesion</p>
</div>

<div class="login-con-gg-fb">
  <button class="gg"><i class="fab fa-google"></i> <span>Iniciar con Google</span></button>
  <button class="fb"><i class="fab fa-facebook-f"></i><span> Iniciar con Facebook </span></button>
</div>

<div class="nombre-usuario">
<label for="nombre-usuario">Nombre de Usuario</label>
<input type="text" name="nombre-usuario" id="nombre-usuario" required>
</div>

<div class="contraseña-sesion">
<label for="contraseña">Contraseña</label>
<input type="password" name="contraseña" id="contraseña">
</div>

<div class="olvidar-contraseña">
  <p>Olvido su contraseña?</p>
</div>

<div class="boton-entrar">
<button type="submit">Iniciar Sesion</button>
</div>

<div class="registrate">
 <p> <a href="/registro">¿No tienes cuenta? ¡Registrate!</a></p>
</div>


  </main>

  <%- include('./partials/footer.ejs')  %>
  

</body>
</html>