<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/paraguas.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="paraguas">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>PARAGUAS DE GOLF</h2>
        <h4> 12 Resultados</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top" selected>Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          <li class="producto-paraguas-lista">
          <div class="img">
            <img src="/img/paraguas-bridgestone.webp" alt="">
          </div>
            <div class="tamaño-hr">
            <p class="nuevo">NUEVO</p>
            <h6>BRIDGESTONE</h6>
            <p>TOUR B - Duble Canopy - Color: Black/White/Grey</p>
            <h5><span class="span-2">$19.040</span></h5>
      </div>
        </li>
        <li class="producto-paraguas-lista">
          <img src="/img/paraguas-callaway1.webp" alt="">
          <div class="tamaño-hr"><br>
          <h6>CALLAWAY</h6>
          <p>Single Canopy - Color: Blue</p>
          <h5><span class="span-2">$22.200</span></h5>
          </div>
        </li>
        <li class="producto-paraguas-lista">
          <img src="/img/paraguas-cleveland.jpg" alt="">
          <div class="tamaño-hr"><br>
          <h6>CLEVELAND</h6>
          <p>Single Canopy - Color: Black/White</p>
          <h5><span class="span-2">$17.700</span></h5>
          </div>
       </li>
      <li class="producto-paraguas-lista">
        <img src="/img/paraguas-srixon.jpg" alt="">
        <div class="tamaño-hr"><br>
        <h6>SRIXON</h6>
        <p>Duble Canopy - Color: Black/Red/White</p>
        <h5><span class="span-2">$23.900</span></h5>
        </div>
      </li>
    <li class="producto-paraguas-lista"> 
      <img src="/img/paraguas-taylormade.webp" alt="">
      <p class="nuevo">NUEVO</p>
      <div class="tamaño-hr">
      <h6>TAYLORMADE</h6>
      <p>Duble Canopy - Color: Black/White</p>
      <h5><span class="span-2">$18.800</span></h5>
      </div>
    </li>
      <li class="producto-paraguas-lista">
        <img src="/img/paraguas-wilson.webp" alt="">
        <div class="tamaño-hr"><br>
        <h6>WILSON</h6>
        <p>Single Canopy - Color: Red/White</p>
        <h5><span class="span-2">17.600</span></h5>
        </div>
      </li>
    <li class="producto-paraguas-lista">
        <img src="/img/paraguas-ping1.webp" alt="">
        <div class="tamaño-hr"><br>
        <h6>PING</h6>
        <p>Single Canopy - Color: Black</p>
        <h5><span class="span-2">$24.600</span></h5>
        </div>
       </li>

      <li class="producto-paraguas-lista">
          <img src="/img/paraguas-taylormade1.webp" alt="">
          <div class="tamaño-hr">
          <h6>TAYLORMADE</h6>
          <p>Duble Canopy - Color: Black/White</p>
          <h5><span class="span-2">$22.500</span></h5>
          </div>
      </li>
      <li class="producto-paraguas-lista">
          <img src="/img/paraguas-mizuno.webp" alt="">
          <div class="tamaño-hr">
          <h6>MIZUNO</h6>
          <p>Duble Canopy - Color: Blue</p>
          <h5><span class="span-3">$25.870</span></h5>
          </div>
      </li>
      <li class="producto-paraguas-lista">
          <img src="/img/paraguas-ping2.webp" alt="">
          <div class="tamaño-hr">
          <h6>PING</h6>
          <p>Single Canopy - Color: Black/White</p>
          <h5><span class="span-2">$23.464</span></h5>
          </div>
      </li>
          <li class="producto-paraguas-lista">
            <img src="/img/parguas-titleist.webp" alt="">
            <div class="tamaño-hr">
            <h6>TITLEIST PROV 1</h6>
            <p>Duble Canopy - Color: Black/White/Red</p>
            <h5><span class="span-2">$24.525</span></h5>
            </div>
        </li>
        <li class="producto-paraguas-lista">
          <img src="/img/paraguas-sun-mountain.webp" alt="">
          <div class="tamaño-hr">
          <h6>SUN MOUNTAIN</h6>
          <p>Duble Canopy - Color: Grey/Orange</p>
          <h5><span class="span-2">$21.999</span></h5>
          </div>
      </li>
      </ul>
      </div>
    </main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
