<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/registro.css"/>
        <title>Golf de Altura Store</title>
    <link rel="icon" type="imagen/png" href="/img/logo-header.png" />
    <script src="https://kit.fontawesome.com/a73919cff6.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
  </head>
 
  <body>
    <div class="descuentos">Descuentos en compras mayores a $10.000 con envío gratuito</div>
    <header>
      <div class="btn-menu">
        <button type="button" onclick="mostrarMenu()" class="item-flex">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <nav id="menu-mobile" class="ocultar">
        <ul>
          <li><a href="">ACCESORIOS</a></li> 
          
          <li>
            <a href="">BOLSAS Y CARROS</a>
            <ul class="ocultar">
              <li><a href="">BOLSAS</a></li>
              <li><a href="">CARROS</a></li>
            </ul>
          </li>
          
          <li>
            <a href="">CAMPOS</a>
            <ul class="ocultar">
              <li><a href="">ESTANCIAS DE CAFAYATE GOLF CLUB</a></li>
              <li><a href="">TERMAS DE RIO HONDO GOLF CLUB</a></li>
              <li><a href="">CARILO GOLF CLUB</a></li>
              <li><a href="">LLAO LLAO GOLF CLUB</a></li>
              <li><a href="">VILLA ALLENDE GOLF CLUB</a></li>
            </ul>
          </li>
          
          <li><a href="">GORRAS</a></li>
          
          <li>
            <a href="">PALOS</a>
            <ul class="ocultar">
              <li><a href="">DRIVE</a></li>
              <li><a href="">MADERAS</a></li>
              <li><a href="">HIBRIDOS</a></li>
              <li><a href="">HIERROS</a></li>
              <li><a href="">PUTTERS</a></li>
              <li><a href="">WEDGES</a></li>
            </ul>
          </li>
  
          <li><a href="">PELOTAS</a></li>
  
          <li>
            <a href="">TECNOLOGIA</a>
            <ul class="ocultar">
              <li><a href="">GPS</a></li>
              <li><a href="">SMARTWACHT</a></li>
              <li><a href="">TELEMETROS</a></li>
            </ul>
          </li>
          
          <li>
            <a href="">VESTIR</a>
            <ul class="ocultar">
              <li><a href="">ROPA DE HOMBRE</a></li>
              <li><a href="">
                ROPA DE MUJER</a></li>
            </ul>
            <li><a href="">ZAPATOS</a></li>
          </li>
        </ul>
      </nav>
      <div class="logo item-flex">
        <img src="/Img/logo-header.png" alt="Golf de Altura Store"/>
      </div>
      <div class="iconos-compra-location">
    
        <span><i class="fa fa-location-dot"></i> </span>
        <a href="./Carrito-de-compras"><i class ="fa fa-cart-shopping"></i></a>  
      </div>
      <div class="buscador item-flex">
        <input type="text" placeholder="¿Que podemos ayudarte a encontrar?">
        <div class="btn">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <div class="Compra-item-flex">
          <p>Devoluciones gratuitas y garantía en la devolución de su dinero</p>
        </div>
        
      </div>
  </header>

  <main>
<section class="contenedor">
        <div class="notificaciones"></div>
    <div class="contacto"></div>
    
    <div class="titulo">
      <h1>MI CUENTA</h1>
      <h2>HOME / MI CUENTA</h2>
    </div>
          
    <br />
    <div class="registrarse"><p>Registro</p></div>
    <br>
      <div class="fila">
      <label>Nombre/s*</label>
      <input type="text" id="nombre" class="input-form" required/>
    </div>
    <br>
      <div class="fila">
      <label>Apellido/s*</label>
      <input type="text" id="apellido" class="input-form" required/>
    </div>
    <br>
    <div class="fila">
      <label>Dirección de correo*</label>
      <input type="text" id="email" class="input-form" required/>
    </div>
    <br>
    <div class="fila">
      <label>Confirmación de correo*</label>
      <input type="text" id="confirm-email" class="input-form" required/>
    </div>
    <br>
    <div class="fila">
      <label>Numero de Telefono*</label>
      <input type="number" id="phone-number" class="input-form" required/>
      <label class="fila" style="font-size: 15px; color: gray;" >Ej: 333-3333333 (sin 0 y 15).</label>
    </div>
    <br />
    <div class="fila">
      <label>Contraseña*</label>
      <input type="password" id="password" class="input-form" required/>
    </div>
    <br />
    <div class="fila">
      <label>Confirmar contraseña*</label>
      <input type="password" id="confirmar-password" class="input-form" required/>
    </div>
    <br />
    <div class="fila">
      <input type="checkbox" id="terminos" class="check-form" required/>
      <span>*Al marcar esta casilla y crear una cuenta, acepto los Términos de uso y la Política de privacidad . Ordeno a GOLF DE ALTURA Store que comparta mi información con AAG (Asociación Argentina de Golf) y acepto los Términos y la Política de privacidad de AAG.</span>
    </div>
    <br />
    <br />
    <div class="fila" style="text-align: center;">
        <button type="sumbit" id="crear-cuenta">Crear Cuenta</button>
    </div>

    <div class="inicia-sesion-">
      <p class="ya-tenes-cuenta"> <a href="/iniciosesion">¿Ya tienes cuenta? Iniciar sesión</a></p>
     </div>
  </section>
</main>

<footer>
  <div class="pie-pagina">
    <div class="servicio-cliente">
     <h3>Servicio Cliente</h3>
     <p>Contactenos 0800-555-2328</p>
     <p>Preguntas Frecuentes</p>
     <p>Informacion de envio</p>
    </div>
    <div class="servicios">
        <h3>Servicios</h3>
        <p>Reparacion</p>
        <p>Clases</p>
        <p>Torneos y eventos</p>
    </div>
    <div class="informacion-empresa">
        <h3>Informacion de la Empresa</h3>
        <p>Sobre Nosotros</p>
        <p>Nuestro valores</p>
        <p>Vision y mision</p>
        <p>Politicas de privacidad</p>
    </div>
    <div class="subscripcion">
      <h3>Subscribite al newsletter</h3>
       <div>
          <label for="nombreapellido"> Nombre y Apellido</label><br>
          <input type="text" name="nombreapellido" maxlength="200" placeholder="Juan Martinez" required >
      </div>
      <label for="email-subscripcion"> Email</label><br>
       <input type="email" name="email-subscripcion" maxlength="200" placeholder="juan.martinez@icloud.com" required>
     </div>
</div>
<div>
  <div class="red-social">
      <span class="uno"><i href="#"  class="fa fa-facebook"></i></span>  
      <span class="dos"><i href="#" class="fa fa-instagram"></i></span>
      <span class="tres"><i href="#" class="fa fa-twitter"></i></span>
      <span class="cuatro"><i href="#" class="fa fa-youtube"></i></span>
    </div>
</div>

    </div>


</footer>



  </body>
</html>

