<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/palos.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="palos">
    <%- include('./partials/header.ejs') %>
    <main>
      
      <h2>PALOS DE GOLF</h2>

      <div class="resultado-busqueda">
        <h4> 18 Resultados</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top">Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          <li class="producto-palos-lista">
            <img src="/img/drive-taylormade-sim2max.webp" alt="">
            <div class="tamaño-hr">
              <p class="nuevo">NUEVO</p>
            <h6>DRIVE TAYLORMADE SIM2 MAX</h6>
            <p>Graphite Shaft - Stiff/Regular</p>
            <h5><span class="span-1">$74.800</span><span class="span-2">$65.824</span></h5>
            <p class="p-descuento">Ahorra 12%</p>
            </div>
            <hr>
        </li>
        <li class="producto-palos-lista">
          <img src="/img/drive-callaway-maverik.webp" alt="">
          <div class="tamaño-hr">
          <h6>DRIVE CALLAWAY MAVERIK</h6>
          <p>Graphite Shaft - Stiff/Regular</p>
          <h5><span class="span-1">$82.500</span><span class="span-2">$74.250</span></h5>
          <p class="p-descuento">Ahorra 10%</p>
          </div>
          <hr>
      </li>
      <li class="producto-palos-lista">
        <img src="/img/drive-ping.webp" alt="">
        <div class="tamaño-hr">
        <h6>DRIVE PING G425</h6>
        <p>Graphite Shaft - Stiff/Regular</p>
        <h5><span class="span-1">$94.000</span><span class="span-2">$70.500</span></h5>
        <p class="p-descuento">Ahorra 25%</p>
        </div>
        <hr>
    </li>
      <li class="producto-palos-lista">
        <img src="/img/maderas-3.webp" alt="">
        <div class="tamaño-hr">
        <h6>MADERA 3 - SRIXON ZX</h6>
        <p>Graphite Shaft - X-Stiff/Stiff/Regular</p>
        <h5><span class="span-1">$60.000</span><span class="span-2">$48.000</span></h5>
        <p class="p-descuento">Ahorra 20%</p>
        </div>
        <hr>
    </li>
    <li class="producto-palos-lista">
      <img src="/img/maderas-1.webp" alt="">
      <div class="tamaño-hr">
        <p class="nuevo">NUEVO</p>
      <h6>MADERA 3 - COBRA RAD SPEED  </h6>
      <p>Graphite Shaft - X-Stiff/Stiff/Regular</p>
      <h5><span class="span-1">$45.000</span><span class="span-2">$38.250</span></h5>
      <p class="p-descuento">Ahorra 15%</p>
      </div>
      <hr>
  </li>

      <li class="producto-palos-lista">
        <img src="/img/maderas-2.webp" alt="">
        <div class="tamaño-hr">
        <h6>MADERA 3 - CALLAWAY ROUGE ST MAX</h6>
        <p>Graphite Shaft - X-Stiff/Stiff/Regular</p>
        <h5><span class="span-1">$45.000</span><span class="span-2">$38.250</span></h5>
        <p class="p-descuento">Ahorra 15%</p>
        </div>
        <hr>
    </li>


            <li class="producto-palos-lista">
                <img src="/img/hibrido-5.webp" alt="">
                <div class="tamaño-hr">
                    <h6>HIBRIDO TITLEIST TSi 3</h6>
                    <p>Graphite Shaft - Stiff/Regular</p>
                    <h5><span class="span-1">$30.000</span><span>$22.750</span></h5>
                    <p>Ahorra 24%</p>
                </div>
                <hr>
            </li>

            <li class="producto-palos-lista">
                <img src="/img/hibrido-6.webp" alt="">
                <div class="tamaño-hr">
                  <p class="nuevo">NUEVO</p>
                <h6>HIBRIDO TAYLORMADE - STEALTH RESCUE</h6>
                <p>Graphite Shaft - Stiff/Regular</p>
                <h5><span class="span-1">$26.000</span><span class="span-2">$16.750</span></h5>
                <p class="p-descuento">Ahorra 21%</p>
                </div>
                <hr>
            </li>

            <li class="producto-palos-lista">
                <img src="/img/hibrido-7.webp" alt="">
                <div class="tamaño-hr">
                <h6>HIBRIDO PING - G410</h6>
                <p>Graphite Shaft - Stiff/Regular</p>
                <h5><span class="span-3">$35.000</span></h5>
                <p class="p-descuento"></p>
                </div>
                <hr>
            </li>

            <li class="producto-palos-lista">
                <img src="/img/palos-5.webp" alt="">
                <div class="tamaño-hr">
                <h6>CALLAWAY</h6>
                <p>JAWS MD5 Tour Grey Wedge w/DG 115 Tour Steel Shafts</p>
                <h5><span class="span-1">$29.000</span><span class="span-2">$21.500</span></h5>
                <p class="p-descuento">Ahorra 26%</p>
                </div>
                <hr>
            </li>

            <li class="producto-palos-lista">
                <img src="/img/palos-8.png" alt="">
                <div class="tamaño-hr">
                <h6>TITLEIST</h6>
                <p>620 MB Irons w/Steel Shafts </p>
                <h5><span class="span-1">$33.000</span><span class="span-2">$31.500</span></h5>
                <p class="p-descuento">Ahorra 5%</p>
                </div>
                <hr>
            </li>
            <li class="producto-palos-lista">
              <img src="/img/PALOS/HIERROS/img1.webp" alt="">
              <div class="tamaño-hr">
              <h6>PING G425</h6>
              <p>Set Irons del 4 al Pw - Steel Shafts - Regular/Stiff </p>
              <h5><span class="span-1">$33.000</span><span class="span-2">$31.500</span></h5>
              <p class="p-descuento">Ahorra 5%</p>
              </div>
              <hr>
          </li>

            <li class="producto-palos-lista">
                <img src="/img/palos-7.webp" alt="">
                <div class="tamaño-hr">
                <h6>TAYLORMADE</h6>
                <p>Milled Grind 2 Chrome Wedge</p>
                <h5><span class="span-1">$26.000</span><span class="span-2">$23.400</span></h5>
                <p class="p-descuento">Ahorra 10%</p>
                </div>
                <hr class="separadora-producto">
            </li>
        </ul>
      </div>
    </main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>