<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/bolsas.css"/>
  </head>
 
<body class="accesorios" >

  <%- include('./partials/header.ejs')  %>     
  <h1> ACCESORIOS</h1>

  <div class="resultado-busqueda">
    <h2>8 Resultados</h2>
    <div class="ordenar-buscador">
      <label for="buscador">Ordenar por</label>
      <select class="select-buscador" name="buscador" id="">
        <option value="++">De mas baratos a mas caros</option>
        <option value="--">De mas caros a mas baratos</option>
        <option value="top">Producto Destacado</option>
     </select>
    </div>
  </div>
  <hr class="hr-1">

  <div class="resultado-busqueda">
   
      <ul class="resultado-productos">
        
             <li class="producto-accesorio-lista">
             <img src="/img/TECNOLOGIA/GPS/img1.webp" alt="GPS - Garmin">
                <div class="tamaño-hr">
                    <select class="select-buscador" name="buscador" id="">
                <h6>GPS  de mano garmin</h6>
                 <p>- Presenta una pantalla táctil de 3,5" legible a la luz del sol y un diseño delgado con acceso rápido al radar mediante un botón
                    - El monitor de lanzamiento integrado rastrea la velocidad de la cabeza del palo, la velocidad de la bola, el factor de impacto, el ritmo del swing y la distancia estimada
                    - Precargado con más de 41 000 mapas detallados de campos de golf en color en todo el mundo
                    - Los modos de práctica y juego te permiten poner a prueba tus habilidades y trabajar para mejorar tu juego
                    - La batería recargable dura hasta 15 horas con GPS</p>
                <h5><span class="span-3">$45.000</span></h5>
                </div>
             </li>

             <li class="producto-accesorio-lista">
                <img src="/img/TECNOLOGIA/GPS/KIT-3_4-Right-2" alt="GPS - FULL SWING - Phantom 2">
                   <div class="tamaño-hr">
                       <select class="select-buscador" name="buscador" id="">
                   <h6>GPS - FULL SWING - Phantom 2</h6>
                    <p>Disfrute de la facilidad y la conveniencia de obtener distancias proporcionadas por GPS alrededor del campo con el Phantom 2. 
                       Cuenta con distancias frontales, centrales y traseras grandes y fáciles de leer, un soporte magnético BITE integrado y GreenView con ubicación de pasador móvil.
                        Distancias delantera/central/trasera
                        GreenView con colocación de pasadores móviles
                        Mapeo dinámico de greens (las distancias frontal/central/posterior se muestran en función de la línea de juego del golfista)
                        Soporte de carro magnético BITE integrado
                        Hasta 6 distancias de peligro/disposición por hoyo
                        Más de 38 000 campos precargados
                        Más de 18 horas de duración de la batería
                        Incluye clip para cinturón.
                        Acceso gratuito a la aplicación Full Swing Golf incluida</p>
                   <h5><span class="span-3">$65.000</span></h5>
                   </div>
                </li>

                <li class="producto-accesorio-lista">
                    <img src="/img/TECNOLOGIA/SMARTWACHT/img2.webp" alt="SMARTWACHT - GARMIN - APPROACH S10">
                       <div class="tamaño-hr">
                       <h6>SMARTWACHT</h6>
                       <p>Reloj de golf Garmin - Approach S10</p>
                       <h5><span class="span-3">$32.600</span></h5>
                       <p>Si quieres estar concentrado en tu juego y en el campo, este es tu reloj de golf.
                        Según su ubicación, el reloj de golf Approach S10 fácil de usar elige automáticamente el campo en el que está jugando entre más de 41,000 campos precargados en todo el mundo con actualizaciones gratuitas de por vida. 
                        Luego proporciona las yardas al frente, atrás y en el medio del green, así como obstáculos y patas de perro. 
                        Complete un hoyo y pasará automáticamente al siguiente hoyo mientras camina desde el green hasta el siguiente tee de salida. Y si realmente aplastas a uno, puedes medir la distancia para fanfarronear.</p>
                       </div>
                    </li>

                    <li class="producto-accesorio-lista">
                        <img src="/img/TECNOLOGIA/SMARTWACHT/img3.webp" alt="SMARTWACHT - GARMIN - APPROACH S42">
                           <div class="tamaño-hr">
                           <h6>SMARTWACHT</h6>
                           <p>Reloj de golf Garmin - Approach S42</p>
                           <h5><span class="span-3">$45.000</span></h5>
                           <p>Tenemos su juego dentro y fuera del campo con Approach® S42, un reloj inteligente de golf con GPS que pone información de más de 42,000 mapas CourseView en todo el mundo en su muñeca. 
                            La función Green View permite el posicionamiento manual de pines para que pueda consultar rápidamente las distancias al frente, el medio y la parte posterior del green, así como los peligros y los doglegs. 
                            El analizador de rondas AutoShot mide y registra automáticamente las distancias de los tiros detectados (el lie y el contacto con la pelota pueden afectar el seguimiento de los tiros); combínelo con los sensores de seguimiento de palos Approach® CT10 opcionales (se venden por separado) para obtener más capacidades de seguimiento automático del juego. 
                            Empareje con la aplicación Garmin Golf™ (cuando se descarga en un teléfono inteligente compatible) para obtener análisis de golpes ganados, participar en tablas de clasificación y torneos y obtener más información sobre su juego. Usa el reloj todo el día.</p>
                           </div>
                        </li>
                        <li class="producto-accesorio-lista">
                            <img src="/img/TECNOLOGIA/SMARTWACHT/SkyCaddie.webp" alt="SMARTWACHT - GARMIN - APPROACH S42">
                               <div class="tamaño-hr">
                               <h6>SMARTWACHT</h6>
                               <p>Reloj de golf SkyCaddie LX5</p>
                               <h5><span class="span-3">$82.400</span></h5>
                               <p>EL RELOJ MÁS INTELIGENTE, BRILLANTE Y RÁPIDO DE GOLF™
                                La tecnología "inteligente" de próxima generación ofrece lo más parecido al galardonado SkyCaddie SX500 en su muñeca.
                                <br>
                                La pantalla táctil a color más grande y más brillante de Golf que mide 1,39” (3,5 cm)
                                Gráficos Full HD para imágenes sorprendentes de HoleVue® e IntelliGreen®
                                Impulsado por un procesador multinúcleo ultrarrápido para una respuesta instantánea
                                Precargado con más de 35 000 mapas de SkyGolf verificados en tierra y corregidos por errores para una precisión inigualable
                                Zoom y paneo para mayor detalle y orientación precisa
                                IntelliGreen® patentado proporciona la forma exacta del green para las distancias al frente, atrás y cualquier punto intermedio desde su ángulo de aproximación
                                Cuadro de mando digital y estadísticas con SkyGolf® 360 Cloud
                                Dos bandas de silicona suaves al tacto reemplazables por el usuario para mayor comodidad y mejor ajuste.
                                Bluetooth® y  Wi-Fi habilitados
                                Múltiples caras de reloj
                                Fitness: Pulsómetro y contador de pasos con distancias
                                Duración de la batería: hasta dos rondas
                                Incluye una membresía mundial de 3 años que proporciona actualizaciones en tiempo real de más de 35 000 mapas de campos verificados y el servicio en la nube SkyGolf 360 para seguimiento y análisis del rendimiento.</p>
                               </div>
                            </li>
                            <li class="producto-accesorio-lista">
                                <img src="/img/TECNOLOGIA/TELEMETROS/img3.webp" alt="TELEMETRO BUSHNELL TOUR V5">
                                   <div class="tamaño-hr">
                                   <h6>TELEMETRO</h6>
                                   <p>Telemetro Burshnell Tour V5 (Prducto importado-enviado directamente desde el fabricante)</p>
                                   <h5><span class="span-3">US$299</span></h5>
                                   <p>
                                    Ahora con un algoritmo de pendiente mejorado para proporcionar a los golfistas distancias compensadas confiables del recorrido aún más precisas para tener en cuenta la inclinación/declive del hoyo.
                                    La tecnología Slope-Switch permite al golfista cambiar fácilmente el Tour V5 Shift dentro y fuera del modo Slope. Tour V5 Shift es legal durante el juego de torneo cuando Slope está deshabilitado.
                                    La tecnología magnética BITE integrada facilita la colocación del Tour V5 Shift en la barra del carrito.
                                    Sepa exactamente cuándo golpeó el alfiler, con pulsos vibrantes y un anillo rojo intermitente, para confirmar que puede ver y sentir cuando el láser se bloquea.
                                </p>
                                   </div>
                                </li>
                                <li class="producto-accesorio-lista">
                                    <img src="/img/TECNOLOGIA/TELEMETROS/img2.webp" alt="TELEMETRO CALLAWAY 250+">
                                       <div class="tamaño-hr">
                                       <h6>TELEMETRO</h6>
                                       <p>Telemetro Callaway 250+ (Prducto importado - enviado directamente desde el fabricante)</p>
                                       <h5><span class="span-3">US$199</span></h5>
                                       <p>
                                        - Tecnología de pendiente: el dispositivo mide el ángulo de inclinación/declive y luego calcula la distancia ajustada de la pendiente
                                        - Dispositivo ultracompacto y liviano
                                        - PAT (Tecnología de adquisición de pasadores): ¡Bloquee el pasador a una distancia de hasta 275 yardas!
                                        - Ampliación 6X; Alcance: 5-800 yardas
                                        - Escanea el paisaje para adquirir múltiples objetivos
                                        - Mide en yardas o metros
                                        - Precisión superior (+/– 1 yarda)
                                        - A prueba de agua/niebla
                                        - PESO: 3.9 oz.
                                        - TAMAÑO: 3.74” x 2.8“ X 1.57”
                                    </p>
                                       </div>
                                    </li>
                                    <li class="producto-accesorio-lista">
                                        <img src="/img/TECNOLOGIA/SIMULADORES/GIAB Pro Website Image.webp" alt="SIMULDOR DE CAMPO">
                                           <div class="tamaño-hr">
                                           <h6>GOLF en una caja profesional</h6>
                                           <p>OPTISHOT Simulador de campo (Prducto importado - enviado directamente desde el fabricante)</p>
                                           <h5><span class="span-3">US$4.350</span></h5>
                                           <p>Golf-In-A-Box 5 es fácil de configurar y no requiere herramientas especiales. OptiShot es un sistema de simulador de golf galardonado que está diseñado para todo tipo de golfistas. 
                                            Con 15 campos de renombre mundial incluidos, un entorno 3D realista y la capacidad de jugar hasta con 4 jugadores, OptiShot es líder en tecnología de simuladores de golf. 
                                            El Golf-In-A-Box 5 incluye una carcasa de pantalla retráctil de HomeCourse. En cuestión de segundos, puede convertir prácticamente cualquier espacio en un campo de golf interior con OptiShot Golf-In-A-Box 5.
                                           </p>
                                           <br>
                                           <h5>QUE ESTA INCLUIDO:</h5>
                                           <p>
                                            -Almohadilla oscilante óptica infrarroja OptiShot2
                                            -Caja de pantalla retráctil
                                            -Software OptiShot2 (Descargar)
                                            -15 cursos incluidos
                                            -Cable USB (10 pies)
                                            -Camiseta de goma ajustable
                                            -Dos (2) pelotas de práctica de espuma
                                            -Instrucciones
                                            -1 año de garantía - Simulador OptiShot2
                                            -Actualizaciones de software gratuitas
                                            -Cable HDMI
                                            -Soporte de montaje
                                            -Cable de extensión
                                            -Alfombrilla de golpeo OptiShot
                                            -Proyector HD de corto alcance
                                           </p>
                                           </div>
                                        </li>
      </li>
    </ul>
  </div>
<div class="contenido-pagina">
    <h2 style="font-size: 1rem;">
    <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">GPS para golf.</font>
    </font>   
    </h2>
    <p>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Sepa dónde se encuentra en el campo y qué tan lejos está del pin con una unidad GPS de golf y un reloj GPS de golf. 
            GOLF DE ALTURA STORE ofrece lo último en tecnología GPS para golf de las mejores marcas, incluidas Garmin, Bushnell y Tag Heuer.</font>
            <br>
            <font style="vertical-align: inherit;">Las unidades GPS para golf vienen en varias formas diferentes. Uno de los más populares son los relojes GPS para golf. 
            Estos relojes inteligentes para golf se usan en la muñeca y pueden funcionar como un reloj para el uso diario cuando no está en el campo. 
            En el campo, estos relojes GPS inteligentes para golf le permiten ver el green desde arriba, la distancia del hoyo desde su ubicación exacta y el tamaño del green, incluida la distancia de la parte delantera y trasera del green desde su ubicación. 
            Echa un vistazo a los relojes GPS de golf de lujo de Tag Heuer o a los asequibles relojes GPS de golf de Garmin y Golf Buddy.</font>
            <br>
            <font style="vertical-align: inherit;">El GPS para golf y los dispositivos inteligentes para golf vienen en otras formas, como parlantes, dispositivos con forma de teléfono y dispositivos GPS para golf que se conectan a su teléfono personal a través de una aplicación. 
            De cualquier manera que decida ir, comprar una unidad GPS de golf de GOLF DE ALTURA STORE seguramente hará que su tiempo en el campo sea más agradable y ¡potencialmente mejorará su juego!</font>
        </font> 
    </p>


</div>
</main>

<%- include('./partials/footer.ejs')  %>



</body>
</html>