<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/tees.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="tees">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>TEES DE GOLF</h2>
        <h4> 9 Resultados</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top" selected>Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          <li class="producto-tees-lista">
            <img src="/img/tees1.jpg" alt="">
            <div class="tamaño-hr">
            <h6>TEES</h6>
            <p>Plastic Tees 5cm - 50 pc</p>
            <h5><span class="span-2">$978</span></h5>
            </div>
        </li>
        <li class="producto-tees-lista">
          <img src="/img/tees2.webp" alt="">
          <div class="tamaño-hr">
          <h6>DRIVE TEES - MARTINI</h6>
          <p>Plastic (5 pc) - For Longest Drivers</p>
          <h5><span class="span-2">$1.278</span></h5>
          </div>
      </li>
      <li class="producto-tees-lista">
        <img src="/img/tees3.webp" alt="">
        <div class="tamaño-hr">
          <h6>DRIVE TEES</h6>
          <p>Professional System (200 pc) - Woods tees </p>
          <h5><span class="span-2">$3.475</span></h5>
        </div>
    </li>
      <li class="producto-tees-lista">
        <img src="/img/tees4.webp" alt="">
        <div class="tamaño-hr">
          <h6>DRIVE TEES - EVOLUTION</h6>
          <p>For Longer Drivers (200 pc) - Colors: White/Blue</p>
          <h5><span class="span-3">$3.832</span></h5>
        </div>
    </li>
    <li class="producto-tees-lista">
      <img src="/img/tees5.png" alt="">
      <div class="tamaño-hr"><br><br>
      <h6>IRONS TEES</h6>
      <p>Multicolors Plastics Tees (15 pc)</p>
      <h5><span class="span-2">$890</span></h5>
      </div>
  </li>
      <li class="producto-tees-lista">
        <img src="/img/tees6.jpg" alt="">
        <div class="tamaño-hr"><br><br>
        <h6>MADERA 3/ HIBRIDOS -  TEES</h6>
        <p>Multicolors Plastic Tees (5 pc)</p>
        <h5><span class="span-2">$450</span></h5>
        </div>
    </li>
    <li class="producto-tees-lista">
        <img src="/img/tees7.webp" alt="">
        <div class="tamaño-hr"><br><br>
            <h6> DRIVE TEES</h6>
            <p>Plastic Reforzed Tees (50 pc) - Multicolor</p>
            <h5><span>$1.748</span></h5>
        </div>
    </li>

    <li class="producto-tees-lista">
        <img src="/img/tees8.jpg" alt="">
        <div class="tamaño-hr">
        <h6>DRIVE TEES</h6>
        <p>Professional System (200 pc) - Woods tees </p>
        <h5><span class="span-2">$3.475</span></h5>
        </div>
    </li>

    <li class="producto-tees-lista">
        <img src="/img/tees9.jpg" alt="">
        <div class="tamaño-hr">
        <h6>DRIVE TEES - EVOLUTION</h6>
        <p>For Longer Drivers (200 pc) - Multicolors</p>
        <h5><span class="span-3">$3.832</span></h5>
        </div>
    </li>
    </div>
    </li>
</ul>
</div>
</main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
