<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/toallas.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="toallas">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>TOALLAS DE GOLF</h2>
        <h4> 6 Resultados</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top" selected>Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          <li class="producto-toallas-lista">
            <img src="/img/toalla-callaway.jpg" alt="">
            <div class="tamaño-hr">
            <h6>CALLAWAY</h6>
            <p>Toalla Microfibra Caddy </p>
            <h5><span class="span-2">$8.400</span></h5>
            </div>
        </li>
        <li class="producto-toallas-lista">
          <img src="/img/toalla-ping.jpg" alt="">
          <div class="tamaño-hr">
          <h6>PING</h6>
          <p>Toalla Microfibra Caddy</p>
          <h5><span class="span-2">$9.125</span></h5>
          </div>
      </li>
      <li class="producto-toallas-lista">
        <img src="/img/toalla-nike.webp" alt="">
        <div class="tamaño-hr">
        <h6>NIKE</h6>
        <p>Toalla Microfibra Caddy</p>
        <h5><span class="span-2">$8.278</span></h5>
        </div>
    </li>
      <li class="producto-toallas-lista">
        <img src="/img/toalla-taylormade.jpg" alt="">
        <div class="tamaño-hr">
          <h6>TAYLORMADE</h6>
          <p>Toalla Microfibra Caddy</p>
          <h5><span class="span-2">$9.475</span></h5>
        </div>
    </li>
      <li class="producto-toallas-lista">
        <img src="/img/toalla-titleist.webp" alt="">
        <div class="tamaño-hr">
          <h6>TITLEIST</h6>
          <p>Toalla Microfibra Caddy</p>
          <h5><span class="span-3">$10.832</span></h5>
        </div>
    </li>
    <li class="producto-toallas-lista">
      <img src="/img/toalla.jpg" alt="">
      <div class="tamaño-hr"><br><br>
      <h6>GIFT</h6>
      <p>Toalla Microfibra Caddy</p>
      <h5><span class="span-2">$890</span></h5>
      </div>
  </li>
    </div>
    </li>
</ul>
</div>
</main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
