<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/footer.css">
    <title>Golf de Altura Store</title>
</head>
<body>
 
    <div class="pie-pagina">
      <div class="servicio-cliente">
       <h3>Servicio Cliente</h3>
       <p>Contactenos 0800-555-2328</p>
       <p>Preguntas Frecuentes</p>
       <p>Informacion de envio</p>
      </div>
      <div class="servicios">
          <h3>Servicios</h3>
          <p>Reparacion</p>
          <p>Clases</p>
          <p>Torneos y eventos</p>
      </div>
      <div class="informacion-empresa">
          <h3>Informacion de la Empresa</h3>
          <p>Sobre Nosotros</p>
          <p>Nuestro valores</p>
          <p>Vision y mision</p>
          <p>Politicas de privacidad</p>
      </div>
      <div class="subscripcion">
        <h3>Subscribite al newsletter</h3>
         <div>
            <label for="nombreapellido"> Nombre y Apellido</label><br>
            <input type="text" name="nombreapellido" maxlength="200" placeholder="Juan Martinez" required >
        </div>
        <label for="email-subscripcion"> Email</label><br>
         <input type="email" name="email-subscripcion" maxlength="200" placeholder="juan.martinez@icloud.com" required>
       </div>
  </div>
  <div>
    <div class="red-social">
        <span class="uno"><i href="#"  class="fa fa-facebook"></i></span>  
        <span class="dos"><i href="#" class="fa fa-instagram"></i></span>
        <span class="tres"><i href="#" class="fa fa-twitter"></i></span>
        <span class="cuatro"><i href="#" class="fa fa-youtube"></i></span>
      </div>
  </div>
  
      </div>
  
 
</body>
</html>